// BREADCRUMBS
.layout__breadcrumbs
  padding: 2rem 0 1rem
  
  .breadcrumbs__list
    gap: .5rem
    display: flex
    overflow: hidden
    overflow-x: auto
  .breadcrumbs__item
    &:last-child
      .breadcrumbs__link
        color: $colorPrimary800
        pointer-events: none
    &:not(:last-child)
      .breadcrumbs__link
        &::after
          content: "/"
    &:hover
      .breadcrumbs__link
        color: $colorPrimary800
  .breadcrumbs__link
      color: $colorPrimary300
      font-size: .875rem
      line-height: 1.25rem
      font-weight: 700
      gap: .5rem
      display: flex
      align-items: center
      @include transition

// Темная тема
.dark
  .layout__breadcrumbs
    .breadcrumbs__item
      &:last-child
        .breadcrumbs__link
          color: $colorWhite
      &:hover
        .breadcrumbs__link
          color: $colorWhite
    .breadcrumbs__link
        color: $colorWhite200