//FOOTER
.layout__footer
  color: $colorWhite
  background-color: $colorSecondary400
.footer__primary
  padding: 2.5rem 0
  gap: 1.5rem
  display: flex
  flex-direction: column
  border-bottom: 1px solid #D9D9D930
  @include mediaMinWidthMobile
    flex-direction: row
  @include mediaMinWidthTabletPort
    padding: 2.5rem 0 4.5rem
.footer__logo
  padding-bottom: 1.5rem
  border-bottom: 1px solid #D9D9D930
  @include mediaMinWidthMobile
    border: 0
    padding-bottom: 0
  .logo__link
    width: 5rem
    height: 3.5rem
    display: flex
    align-items: flex-start
    @include mediaMinWidthMobile
      width: 4rem
      height: 2.5rem
    @include mediaMinWidthTabletPort
      width: 6.5rem
      height: 4.875rem
    

  .logo__img
    width: 100%
    height: 100%
.footer__nav
  width: 100%
  @include mediaMinWidthMobile
    width: calc(100% / 2 * 1 - 5.5rem)
  @include mediaMinWidthTabletPort
    width: calc(100% / 3 * 1 - 7rem)
  .nav__list
    gap: .5rem 0 
    margin: 0 -.5rem
    width: calc(100% + 1rem)
    display: flex
    flex-wrap: wrap
  .nav__item
    width: 50%
    padding: 0 .5rem
    @include mediaMinWidthMobile
      width: 100%
    @include mediaMinWidthTabletPort
      width: 50%
    &.nav__item_active,
    &:hover
      .nav__link
        color: $colorSecondary200
  .nav__link
    color: $colorWhite
    font-size: 1rem
    line-height: 1.5rem
    @include transition
.footer__contact
  gap: 2.5rem
  width: 100%
  display: flex
  flex-direction: column
  @include mediaMinWidthMobile
    width: calc(100% / 2)
  @include mediaMinWidthTabletPort
    width: calc(100% / 3 * 2)
    flex-direction: row
  .contact__group
    gap: 1.5rem
    display: flex
    flex-direction: column
  .contact__data
    .data__list
      gap: 1.25rem
      display: flex
      flex-direction: column
    .data__item
      &.data__item_secondary
        .data__text
          position: relative
          &::after
            content: ""
            position: absolute
            left: 0
            bottom: .125rem
            width: 100%
            height: 1px
            background-color: rgba(255,255,255,.5)
            @include transition
    .data__link
      gap: .5rem
      display: flex
      align-items: center
      @include mediaMinWidthTabletPort
        gap: 1.25rem
        &:hover
          .data__text
            &::after
              width: 0
    .data__ico
      fill: rgba(255,255,255,.7)
      width: 1.25rem
      height: 1.25rem
      flex-shrink: 0
    .data__text
      color: rgba(255,255,255,.7)
      font-size: 1rem
      line-height: 1.5rem
.footer__secondary
  padding: 1.25rem 0
  gap: .75rem
  display: flex
  flex-direction: column-reverse
  @include mediaMinWidthMobile
    flex-direction: row
    align-items: center
    justify-content: space-between
.footer__copyright
  color: rgba(255,255,255,.7)
  font-size: .625rem
  line-height: .75rem
.footer__support
  .support__list
    gap: .75rem
    display: flex
    flex-direction: column
    @include mediaMinWidthMobile
      gap: 4.5rem
      flex-direction: row
      align-items: center
    @include mediaMinWidthTabletPort
      gap: 3.25rem
  .support__item
    display: flex
    &:hover,
    &.support__item_active
      .support__link
        color: $colorSecondary200
  .support__link
    color: rgba(255,255,255,.7)
    font-size: .625rem
    line-height: .75rem
    @include transition
  
// Темная тема
.dark
  .layout__footer
    color: $colorWhite
    background-color: $colorPrimary900
    .footer__primary
      border-bottom: 1px solid $colorWhite700
    .footer__logo
      border-bottom: 1px solid $colorWhite700
      @include mediaMinWidthMobile
        border: 0
    .footer__nav
      .nav__item
        &.nav__item_active,
        &:hover
          .nav__link
            color: $colorWhite
      .nav__link
        color: $colorWhite700
    .footer__contact
      .contact__data
        .data__item
          &.data__item_secondary
            .data__text
              &::after
                background-color: rgba(255,255,255,.5)
        .data__ico
          fill: rgba(255,255,255,.7)
        .data__text
          color: rgba(255,255,255,.7)
    .footer__copyright
      color: rgba(255,255,255,.7)
    .footer__support
      .support__item
        &:hover,
        &.support__item_active
          .support__link
            color: $colorWhite
      .support__link
        color: $colorWhite700




