.layout__header
  background-color: $colorWhite
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 5
  @include transition
  .container
    padding: 1rem 0
    display: flex
    align-items: center
    height: 100%
  // header_menu-active
  &.layout__header_menu-active
    .header__menu
      transform: translateX(0)
    .header__burger
      .burger__item
        width: 1.5rem
        margin-bottom: 0

        &:nth-child(1)
          transform: rotate(45deg)

        &:nth-child(2)
          display: none

        &:nth-child(3)
          margin-top: -.125rem
          transform: rotate(-45deg)

    & ~ *
      opacity: .1
  &.layout__header_search
    &::after
      content: ""
      position: absolute
      top: 100%
      left: 0
      width: 100vw
      height: 100vh
      background-color: $colorPrimary800
      opacity: .6
  // header__logo
.header__logo
  &:not(:last-child)
    margin-right: 1.25rem
    @include mediaMinWidthTabletPort
      margin-right: 2.5rem
  .logo__link
    display: flex
    align-items: flex-start
  .logo__img
    height: 1.25rem
    width: auto
    object-fit: contain
    &.logo__img_primary
      display: block
    &.logo__img_secondary
      display: none
// burger
.header__burger
  display: flex
  width: 1.5rem
  height: 1.5rem
  flex-direction: column
  justify-content: center
  align-items: flex-end
  z-index: 10
  @include mediaMinWidthTabletPort
    display: none
  .burger__item
    width: 1.125rem
    background-color: $colorSecondary300
    height: .125rem
    border-radius: .5rem
    @include transition
    &:not(:last-child)
      margin-bottom: .25rem

// header__menu
.header__menu
  display: flex
  flex-direction: row
  align-items: center
  
  @include mediaMaxWidthTabletPort
    flex-direction: column
    align-items: flex-start
    top: calc(100% + .25rem)
    left: 0
    gap: 2rem
    width: 23.75rem
    max-width: 100%
    height: calc(100vh - 4.25rem)
    padding: 1.5rem
    background: $colorWhite
    z-index: 3
    position: absolute
    overflow: hidden
    overflow-y: auto
    transform: translateX(-100%)
    @include transition
  @include mediaMaxWidthMobile
    width: 100%
// header__navigation
.header__nav
  width: 100%
  @include mediaMinWidthTabletPort
    width: auto
  &:not(:last-child)
    margin-right: 1rem

  .nav__list
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      gap: 1.25rem
      flex-direction: row
  .nav__item
    gap: .25rem
    display: flex
    align-items: center
    position: relative
    border-bottom: 1px solid $colorPrimary400
    @include mediaMinWidthTabletPort
      border: 0
    &.nav__item_active
    &:hover
      .nav__link
        color: $colorSecondary300
      .nav__ico
        fill: $colorSecondary300
  .nav__link
    color: $colorPrimary700
    font-size: 1.5rem
    line-height: 2rem
    font-weight: 600
    padding: .75rem 0
    font-weight: 600
    @include transition
    @include mediaMinWidthTabletPort
      font-size: .875rem
      line-height: 1.25rem
      font-weight: 400
      padding: 0

// header__contact
.header__contact
  gap: .25rem
  order: 2
  display: flex
  align-items: center
  position: relative
  @include mediaMinWidthTabletPort
    order: unset
  &:not(:last-child)
    @include mediaMinWidthTabletPort
      margin-right: 8.75rem
  &:hover
    .contact__main
      opacity: 1
      visibility: visible
      transform: translateY(0)
      transition-delay: 0s
  .contact__header
    gap: .75rem
    display: none
    align-items: center
    @include mediaMinWidthTabletPort
      display: flex
  .contact__title
    .contact__text
      color: $colorPrimary700
      font-size: .875rem
      line-height: 1.25rem
  .contact__action
    width: .75rem
    height: .75rem
    display: none
    justify-content: center
    align-items: center
    @include mediaMinWidthTabletPort
      display: flex
    .contact__ico
      width: 100%
      height: 100%
      fill: $colorPrimary900
      @include transition
  .contact__main
    @include mediaMinWidthTabletPort
      position: absolute
      padding: 1.25rem
      min-width: 22.5rem
      background-color: $colorWhite
      border-radius: .5rem
      top: calc(100% + 2.125rem)
      left: 0
      transform: translateY(-1rem)
      opacity: 0
      visibility: hidden
      @include box-shadow
      @include transition
      transition-delay: .4s
  .contact__list
    margin: 0 -.75rem
    width: calc(100% + 1.5rem)
    gap: 2rem 0
    display: flex
    flex-wrap: wrap
  .contact__item
    font-size: .875rem
    line-height: 1.25rem
    padding: 0 .75rem
    width: 50%
    gap: .75rem
    display: flex
    flex-direction: column
    justify-content: flex-end
    @include mediaMinWidthTabletPort
      gap: .25rem
  .contact__title
    color: $colorSecondary400
    font-weight: 600
  .contact__value
    color: $colorPrimary700

// header__languages
.header__languages
  position: relative
  &:not(:last-child)
    margin-right: 1rem
    @include mediaMinWidthMobile
      margin-right: 1.25rem
  &:hover
    .languages__main
      opacity: 1
      visibility: visible
      transform: translateX(0)
      transition-delay: 0s
  .languages__header
    display: flex
    align-items: flex-start
    cursor: pointer
  .languages__main
    position: absolute
    left: 0
    padding: .75rem
    background-color: $colorWhite
    border-radius: 0.5rem
    top: calc(100% + 2rem)
    width: 3rem
    transform: translateX(-1rem)
    opacity: 0
    visibility: hidden
    @include box-shadow
    @include transition
    transition-delay: .4s
    @include mediaMinWidthTabletPort
      top: calc(100% + 2.5rem)
  .languages__list
    gap: .125rem
    display: flex
    flex-direction: column
  .languages__item
    border-radius: .125rem
    display: flex
    align-items: flex-start
    cursor: pointer
    overflow: hidden
    &.languages__item_active
      opacity: .25
      pointer-events: none
  .languages__ico
    width: 1.5rem
    height: 1rem


// header action
.header__action
  &:not(:last-child)
    margin-right: .5rem
    @include mediaMinWidthTabletPort
      margin-right: 0
  .action__list
    display: flex
    gap: .75rem
  .action__item
    &.action__item_favorite
      .action__ico
        fill: none
        stroke: $colorSecondary300
    &:hover,
    &.action__item_active
      .action__link
        border-color: $colorSecondary300

    .action__link
      width: 2.25rem
      height: 2.25rem
      border-radius: .25rem
      border: 1px solid #223B8F20
      background-color: transparent
      display: flex
      justify-content: center
      align-items: center
      position: relative
      cursor: pointer
      @include transition

    .action__value
      color: $colorWhite
      background-color: $colorRed
      font-size: .625rem
      line-height: 2rem
      border-radius: 50%
      width: .875rem
      height: .875rem
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      right: 0
      bottom: calc(100% - .5rem)
    .action__ico
      width: 1rem
      height: 1rem
      fill: $colorSecondary300



// header theme
.header__theme
  border: 1px solid #223B8F20
  border-radius: 3rem
  width: 3rem
  height: 1.5rem
  padding: .25rem
  margin-left: auto
  display: flex
  justify-content: flex-start
  align-items: center
  cursor: pointer
  @include transition
  &:not(:last-child)
    margin-right: .5rem
    @include mediaMinWidthMobile
      margin-right: 1.25rem
  &:hover
    border-color: $colorSecondary300
  &.header__theme_active
    border-color: $colorSecondary300
    .theme__media
      transform: translateX(1.25rem)
      @include mediaMinWidthMobile
        transform: translateX(1.5rem)
  .theme__media
    width: 1rem
    height: 1rem
    background-color: $colorSecondary300
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    position: relative
    transform: translateX(0)
    @include transition
  .theme__ico
    width: .75rem
    height: .75rem
    position: absolute
    top: 50%
    left: 50%
    @include transform
    &.theme__ico_primary
      opacity: 1
      visibility: visible
    &.theme__ico_secondary
      opacity: 0
      visibility: hidden

// header search
.header__search
  position: absolute
  top: calc(100% + .25rem)
  left: 50%
  width: 100%
  gap: .25rem
  width: 78.75rem
  max-width: calc(100vw - 3rem)
  display: flex
  align-items: flex-end
  flex-direction: column
  z-index: 2
  opacity: 0
  visibility: hidden
  transform: translate(-50%, -1rem)
  @include transition
  &.header__search_active
    opacity: 1
    visibility: visible
    transform: translate(-50%, 0)
  .search__formular
    width: 100%
    @include mediaMinWidthTabletPort
      max-width: 33.75rem
  .search__form
    position: relative
    .form__input
      border: 0
    .search__input
    .search__button
      position: absolute
      top: .3rem
      right: .3rem
  .search__dropdown
    background-color: $colorWhite
    width: 100%
    border-radius: .25rem
    padding: .875rem
    max-height: calc(100vh - 8rem)
    overflow: hidden
    overflow-y: auto
    @include mediaMinWidthMobile
      padding: .875rem 1.5rem
    @include mediaMinWidthTabletPort
      max-height: 28.5rem
  .search__layout
    gap: .875rem
    display: flex
    flex-direction: column
    &:not(:last-child)
      padding-bottom: .75rem
      margin-bottom: .75rem
      border-bottom: 1px solid $colorPrimary400
  .search__header
    display: flex
    align-items: flex-start
  .search__title
    color: $colorSecondary400
    font-size: .875rem
    line-height: 1rem
    font-weight: 700
  .search__list
    gap: .875rem
    display: flex
    flex-wrap: wrap
    &.search__list_primary
      .search__item
        width: calc(33.3% - .775rem)
        @include mediaMinWidthMobile
          width: calc(25% - .775rem)
        @include mediaMinWidthTabletPort
          width: calc(12.5% - .775rem)
      .search__img
        padding-top: 65%
        border-radius: .25rem
    &.search__list_secondary
      .search__item
        width: calc(33.3% - .775rem)
        @include mediaMinWidthMobile
          width: calc(20% - .775rem)
        @include mediaMinWidthTabletPort
          width: calc(8.333% - .775rem)
      .search__img
        padding-top: 44.4%
    &.search__list_tertiary
      .search__item
        width: calc(20% - .775rem)
        @include mediaMinWidthMobile
          width: calc(15% - .775rem)
        @include mediaMinWidthTabletPort
          width: calc(5% - .775rem)
      .search__img
        padding-top: 100%
  .search__item
    flex-shrink: 0
  .search__link
    gap: .25rem
    display: flex
    flex-direction: column
    &:hover
      .search__text
        color: $colorSecondary300
  .search__img
    position: relative
    overflow: hidden
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .search__text
    color: $colorSecondary400
    font-size: .625rem
    line-height: .75rem
    font-weight: 700
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    text-align: center
    @include transition
    @include mediaMinWidthMobile
      font-size: .75rem
      line-height: 1rem

// Темная тема
.dark
  .layout__header
    background-color: $colorPrimary900
    // header__logo
    .header__logo
      .logo__img
        &.logo__img_primary
          display: none
        &.logo__img_secondary
          display: block
    // header__contact
    .header__contact
      .contact__title
        .contact__text
          color: $colorWhite
      .contact__action
        .contact__ico
          fill: $colorWhite
      .contact__main
        @include mediaMinWidthTabletPort
          background-color: $colorPrimary900
      .contact__title
        color: $colorWhite
      .contact__value
        color: $colorWhite
    // header__navigation
    .header__nav
      .nav__item
        border-color: $colorWhite
        &.nav__item_active
        &:hover
          .nav__link
            color: $colorSecondary500
          .nav__ico
            fill: $colorSecondary500
      .nav__link
        color: $colorWhite
    // header theme
    .header__theme
      border: 1px solid #ffffff20
      &:hover
        border-color: $colorWhite
      .theme__media
        background-color: $colorWhite
      .theme__ico
        &.theme__ico_primary
          opacity: 0
          visibility: hidden
        &.theme__ico_secondary
          opacity: 1
          visibility: visible
    // header action
    .header__action
      .action__item
        &.action__item_favorite
          .action__ico
            fill: none
            stroke: $colorWhite
        &:hover,
        &.action__item_active
          .action__link
            border-color: $colorWhite
        .action__link
          border: 1px solid #ffffff20
        .action__ico
          fill: $colorWhite
    // burger
    .header__burger
      .burger__item
        background-color: $colorWhite
    // header__menu
    .header__menu
      @include mediaMaxWidthTabletPort
        background: $colorPrimary900
    // header search
    .header__search
      .search__dropdown
        background-color: $colorPrimary1000
      .search__layout
        &:not(:last-child)
          border-bottom: 1px solid rgba(255,255,255,.125)
      .search__title
        color: $colorWhite
      .search__link
        &:hover
          .search__text
            color: $colorWhite
      .search__text
        color: $colorWhite
    // header languages
    .header__languages
      .languages__main
        background-color: $colorPrimary900