// LAYOUT
.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  overflow-y: auto
  visibility: hidden
  opacity: 0
  @include transition
  
    
  &.layout_ready-load
    visibility: visible
    opacity: 1
  &.layout_secondary
    padding-top: 4.25rem
    .layout__header
      &:not(.layout__header_scroll)
        .container
            border-bottom: 1px solid $colorPrimary300

  .layout__main
    flex-grow: 1
    padding-bottom: 1.5rem
    @include mediaMinWidthTabletPort
      padding-right: 2.5rem
.dark
  .layout
    &.layout_secondary
      .layout__header
        background-color: $colorPrimary1000
        &:not(.layout__header_scroll)
          .container
              border-bottom-color: $colorWhite200
