// modals
.modal-init
  cursor: pointer
// modal-wrap
.layout__modal
  position: fixed
  top: 0
  left: 0
  z-index: 12
  cursor: pointer
  width: 100%
  height: 100%
  visibility: hidden
  opacity: 0
  background: rgba(0, 0, 0, 0.6)
  @include transition

.layout_modal-active
  .layout__modal
    visibility: visible
    opacity: 1
.modal__layout
  position: fixed
  top: 50%
  left: 50%
  cursor: auto
  width: 100%
  max-width: calc(100vw - 3rem)
  height: auto
  max-height: calc(100vh - 3rem)
  display: flex
  flex-direction: column
  background-color: $colorWhite
  border-radius: .5rem
  padding: 1.5rem
  z-index: 111
  visibility: hidden
  opacity: 0
  overflow: hidden
  overflow-y: auto
  @include transform
  @include transition
  @include mediaMinWidthMobile
    max-width: calc(100vw - 4rem)
    padding: 2.5rem
  @include mediaMinWidthTabletPort
    max-width: 35rem
  &.modal__layout_active
    visibility: visible
    opacity: 1
  &.modal__layout_secondary
    @include mediaMinWidthMobile
      padding: 1.5rem
      .modal__header
        &:not(:last-child)
          margin-bottom: .5rem
  // header
  .modal__header
    gap: 2rem
    display: flex
    align-items: center
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 2.5rem
  // main
  .modal__main
    &:not(:last-child)
      margin-bottom: 2rem
  // action
  .modal__action
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    &:hover
      @include mediaMinWidthDesktop
        .action__ico
          transform: rotate(45deg)
    .action__ico
      width: 100%
      height: 100%
      fill: $colorSecondary300
      transform: rotate(0deg)
      @include transition
  // footer
  .modal__footer
    display: flex
    justify-content: center


// Темная тема
.dark
  // modal-wrap
  .layout__modal
    background: rgba(255, 255, 255, 0.75)
  .modal__layout
    background-color: $colorPrimary1000
  // action
  .modal__action
    .action__ico
      fill: $colorWhite

.fancybox-content
  overflow: visible
  background: transparent