.layout__section
  padding: 1.5rem 0
  gap: 2rem
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  @include mediaMinWidthTabletPort
    padding: 2.25rem 0
  &.section_pt
    padding-top: 1rem
  &.section_pb
    padding-bottom: 1rem
  &.layout__section_secondary
    @include mediaMinWidthTabletPort
      padding-right: 10rem
  .section__header
    gap: .5rem
    display: flex
    align-items: center
    @include mediaMinWidthTabletPort
      max-width: 50%
  .section__subtitle
    color: $colorPrimary300
    font-size: .875rem
    line-height: 1.25rem
    font-weight: 700
  .section__tabs
    max-width: calc(100vw - 3rem)
    overflow: hidden
    overflow-x: auto
    .tabs__list
      gap: .75rem
      display: flex

    .tabs__item
      border-radius: .25rem
      padding: .5rem 1rem
      border: 1px solid rgba(0,0,0,.2)
      display: flex
      background-color: transparent
      cursor: pointer
      @include transition
      &:hover,
      &.tabs__item_active
        border: 1px solid $colorSecondary400
        background-color: $colorSecondary400
        .tabs__text
            color: $colorWhite
    .tabs__text
      color: $colorPrimary700
      font-size: .875rem
      line-height: 1.25rem
      font-weight: 600
      text-overflow: ellipsis
      white-space: nowrap
      display: block
      overflow: hidden
      cursor: pointer
      @include transition
  .section__main
    width: 100%
  .section__action
    &:not(.section__action_secondary)
      order: 9
      width: 100%
      display: flex
      justify-content: center
      @include mediaMinWidthMobile
        width: auto
        order: unset
  .section__main,
  .section__action
    .tabs__list
      .tabs__item
        display: none
        &:first-child
          display: block
  .section__footer
    width: 100%
    display: flex
    justify-content: center

// layout__wrapper
.section__wrapper
  gap: 1.25rem
  display: flex
  flex-direction: column
  @include mediaMinWidthTabletPort
    
    display: flex
    flex-direction: row
  .section__layout
    gap: 1.25rem
    width: 100%
    display: flex
    flex-direction: column
  .section__sidebar
    gap: 1.25rem
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      width: 34.5rem
  
  
  
  
  
  // Темная тема
.dark
  .section__subtitle
    color: $colorWhite500
  .section__tabs
    .tabs__item
      border: 1px solid rgba(255,255,255,.2)
      &:hover,
      &.tabs__item_active
        border: 1px solid $colorWhite
        background-color: $colorWhite
        .tabs__text
            color: $colorPrimary1000
    .tabs__text
      color: $colorWhite
 