// white color
$colorWhite100: rgba(255,255,255,.1)
$colorWhite200: rgba(255,255,255,.25)
$colorWhite500: rgba(255,255,255,.5)
$colorWhite700: rgba(255,255,255,.75)
$colorWhite: #ffffff
// error color
$colorRed: #e53b35
// succes color
$colorGreen: #27AE60
// primary color
$colorPrimary100: #f4f4f4
$colorPrimary200: #f8f8f8
$colorPrimary300: #cacaca
$colorPrimary400: #e0e0e0
$colorPrimary500: #D9D9D9
$colorPrimary600: #9d9d9d
$colorPrimary700: #4d4d4d
$colorPrimary800: #000000
$colorPrimary900: #292929
$colorPrimary1000: #1E1E1E
// secondary color
$colorSecondary100: #EDEFF6
$colorSecondary200: #54B0D9
$colorSecondary300: #223B8f
$colorSecondary400: #091C2D
$colorSecondary500: #6ABBE0
$colorSecondary600: #C5D7EA
$colorSecondary700: #ECF7FF
$colorSecondary800: #A7BCCD
// tertiary color
$colorTertiary300: #27ae6020
$colorTertiary400: #27ae60
// fonts
$mainFont: 'Circe', sans-serif

.layout
  &.layout_dark
    $colorWhite: #000000
// mixin
@mixin transition()
  transition: all 0.4s ease-in-out

@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)

@mixin box-shadow()
  box-shadow: 0 0 .5rem rgba(0,0,0,.125)

@mixin gradient()
  background: linear-gradient(to bottom,  rgba(67,93,178,1) 0%,rgba(34,59,143,1) 100%)
