<div class="category__filter filter">
  <div class="filter__layout">
    <form class="filter__form" action="index.html">
      <div class="filter__header">
        <div class="filter__title title">
          <h4 class="title__text"><strong>Фильтр</strong></h4>
        </div>
        <div class="filter__action action">
          <svg class="action__ico">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </div>
      </div>
      <div class="filter__main">
        <div class="filter__group">
          <div class="form__item">
            <label class="form__label">С какой даты</label>
            <input
              class="form__input form__datepicker form__datepicker_min"
              type="text"
              placeholder="Выберите дату"
              required
            />
          </div>
          <div class="form__item">
            <label class="form__label">По какую</label>
            <input
              class="form__input form__datepicker form__datepicker_max"
              type="text"
              placeholder="Выберите дату"
              required
            />
          </div>
          <div class="form__item form__item_secondary">
            <label class="form__label form__label_secondary">Цена</label>
            <div class="form__range form__range_primary range">
              <div class="range__header">
                <ul class="range__list">
                  <li class="range__item">
                    <input
                      class="range__field range__field_min form__input"
                      type="text"
                      placeholder="От 0"
                    />
                  </li>
                  <li class="range__item">
                    <input
                      class="range__field range__field_max form__input"
                      type="text"
                      placeholder="До 40 000 000"
                    />
                  </li>
                </ul>
              </div>
              <div class="range__slider"></div>
            </div>
          </div>

          <div class="form__item form__item_secondary">
            <label class="form__label form__label_secondary"
              >Количество мест</label
            >
            <div class="form__range form__range_secondary range">
              <div class="range__header">
                <ul class="range__list">
                  <li class="range__item">
                    <input
                      class="range__field form__input range__field_min"
                      type="text"
                      placeholder="От 2"
                    />
                  </li>
                  <li class="range__item">
                    <input
                      class="range__field form__input range__field_max"
                      type="text"
                      placeholder="До 8 "
                    />
                  </li>
                </ul>
              </div>
              <div class="range__slider"></div>
            </div>
          </div>
          <div class="form__item form__item_secondary">
            <label class="form__label form__label_secondary">Мощность</label>
            <div class="form__range form__range_tertiary range">
              <div class="range__header">
                <ul class="range__list">
                  <li class="range__item">
                    <input
                      class="range__field form__input range__field_max"
                      type="text"
                      placeholder="От 100"
                    />
                  </li>
                  <li class="range__item">
                    <input
                      class="range__field form__input range__field_max"
                      type="text"
                      placeholder="До 800 "
                    />
                  </li>
                </ul>
              </div>
              <div class="range__slider"></div>
            </div>
          </div>
        </div>
        <div class="filter__group">
          <div class="form__item">
            <label class="form__label">Марка автомобиля:</label>
            <select>
              <option value="v1">BMW</option>
              <option value="v2">BMW2</option>
              <option value="v3">BMW3</option>
            </select>
          </div>
          <div class="form__item">
            <label class="form__label">Модель автомобиля:</label>
            <select>
              <option value="v1">BMW</option>
              <option value="v2">BMW2</option>
              <option value="v3">BMW3</option>
            </select>
          </div>

          <div class="form__item form__item_secondary">
            <label class="form__label form__label_secondary">Цвет авто</label>
            <div class="form__colors colors">
              <ul class="colors__list">
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="background-color: #000000"
                    ></span>
                  </label>
                </li>
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="
                        background-color: #ffffff;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                      "
                    ></span>
                  </label>
                </li>
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="background-color: #9d9d9d"
                    ></span>
                  </label>
                </li>
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="background-color: #de1d1d"
                    ></span>
                  </label>
                </li>
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="background-color: #223b8f"
                    ></span>
                  </label>
                </li>
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="background-color: #27ae60"
                    ></span>
                  </label>
                </li>
                <li class="colors__item">
                  <label class="colors__label">
                    <input
                      class="colors__input"
                      type="checkbox"
                      name="chekbox"
                    />
                    <span
                      class="colors__ico"
                      style="background-color: #ffd964"
                    ></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="form__item form__item_secondary">
            <label class="form__label form__label_secondary"
              >Тип двигателя</label
            >
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Бензин</span>
              </label>
            </div>
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Дизель</span>
              </label>
            </div>
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Гибрид</span>
              </label>
            </div>
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Электро</span>
              </label>
            </div>
          </div>

          <div class="form__item form__item_secondary">
            <label class="form__label form__label_secondary">Привод</label>
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Передний</span>
              </label>
            </div>
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Задний</span>
              </label>
            </div>
            <div class="form__check form__check_secondary">
              <label class="check__label">
                <input class="check__input" type="checkbox" name="chekbox" />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text">Полный</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="filter__footer">
        <div class="buttons">
          <ul class="buttons__list">
            <li class="buttons__item">
              <a class="buttons__link btn" href="#">
                <span class="btn__text">Применить (2)</span>
              </a>
            </li>
            <li class="buttons__item">
              <a class="buttons__link btn btn_transparent" href="#">
                <span class="btn__text">Сбросить</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
