<footer class="layout__footer footer">
  <div class="container">
    <div class="footer__primary">
      <div class="footer__logo logo">
        <a class="logo__link" href="#">
          <img
            data-src="img/logoSecondary.png"
            src="img/preview.jpg"
            alt="image description"
          />
        </a>
      </div>

      <nav class="footer__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Автопарк</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Автосалон</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Сотрудничество</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Блог</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Контакты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Отзывы</a>
          </li>
        </ul>
      </nav>

      <div class="footer__contact contact">
        <div class="contact__group">
          <div class="contact__data data">
            <ul class="data__list">
              <li class="data__item data__item_secondary">
                <a class="data__link" href="#">
                  <svg class="data__ico">
                    <use xlink:href="img/sprite.svg#contact__ico01"></use>
                  </svg>
                  <span class="data__text"
                    >г. Москва, Краснопресненская наб., 12</span
                  >
                </a>
              </li>
              <li class="data__item">
                <span class="data__link">
                  <svg class="data__ico">
                    <use xlink:href="img/sprite.svg#contact__ico02"></use>
                  </svg>
                  <span class="data__text">Ежедневно с 08:00 до 22:00</span>
                </span>
              </li>
              <li class="data__item data__item_secondary">
                <a class="data__link" href="tel:+79137720100">
                  <svg class="data__ico">
                    <use xlink:href="img/sprite.svg#contact__ico03"></use>
                  </svg>
                  <span class="data__text">+7 (913) 772 01 00</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="layout__socials socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico01"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico02"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="contact__group">
          <div class="contact__data data">
            <ul class="data__list">
              <li class="data__item data__item_secondary">
                <a class="data__link" href="#">
                  <svg class="data__ico">
                    <use xlink:href="img/sprite.svg#contact__ico01"></use>
                  </svg>
                  <span class="data__text"
                    >г. Москва, Краснопресненская наб., 12</span
                  >
                </a>
              </li>
              <li class="data__item">
                <span class="data__link">
                  <svg class="data__ico">
                    <use xlink:href="img/sprite.svg#contact__ico02"></use>
                  </svg>
                  <span class="data__text">Ежедневно с 08:00 до 22:00</span>
                </span>
              </li>
              <li class="data__item data__item_secondary">
                <a class="data__link" href="tel:+79137720100">
                  <svg class="data__ico">
                    <use xlink:href="img/sprite.svg#contact__ico03"></use>
                  </svg>
                  <span class="data__text">+7 (913) 772 01 00</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="layout__socials socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico01"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico02"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__secondary">
      <div class="footer__copyright copyright">
        <span class="copyright__text">© 2024 Все права защищены</span>
      </div>
      <nav class="footer__support support">
        <ul class="support__list">
          <li class="support__item">
            <a class="support__link" href="#"
              >Политика обработки персональных данных</a
            >
          </li>
          <li class="support__item">
            <a class="support__link" href="#">Политика конфиденциальности</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- //container -->
</footer>
<!-- //footer -->
