<header class="layout__header header">
  <div class="container">
    <!-- logo -->
    <div class="header__logo logo">
      <a class="logo__link" href="index.html">
        <img
          class="logo__img logo__img_primary"
          data-src="img/logoPrimary.png"
          src="img/preview.jpg"
          alt="image description"
        />
        <img
          class="logo__img logo__img_secondary"
          data-src="img/logoPrimaryDark.png"
          src="img/preview.jpg"
          alt="image description"
        />
      </a>
    </div>

    <div class="header__menu">
      <!-- contact -->
      <div class="header__contact contact">
        <div class="contact__header">
          <div class="layout__socials socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico01"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg class="socials__ico">
                    <use xlink:href="img/sprite.svg#socials__ico02"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="contact__title">
            <a class="contact__text" href="tel:79137720100"
              >+7 (913) 772-01-00</a
            >
          </div>
        </div>
        <div class="contact__action">
          <svg class="contact__ico">
            <use xlink:href="img/sprite.svg#chevronBottom"></use>
          </svg>
        </div>
        <div class="contact__main">
          <div class="contact__list">
            <div class="contact__item">
              <span class="contact__title">Основной номер:</span>
              <a class="contact__value" href="tel:79137720109"
                >+ 7 (913) 772-01-09</a
              >
            </div>
            <div class="contact__item">
              <span class="contact__title">Режим работы:</span>
              <span class="contact__value">с 08:00 до 22:00</span>
            </div>
            <div class="contact__item">
              <span class="contact__title">Дополнительный:</span>
              <a class="contact__value" href="tel:79137720109"
                >+ 7 (913) 772-01-09</a
              >
            </div>
            <div class="contact__item">
              <a class="btn btn_tiny" href="#">
                <span class="btn__text">Заказать звонок</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- nav -->
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Автопарк</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Автосалон</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
        <!-- //nav__list -->
      </nav>
    </div>

    <!-- theme -->
    <div class="header__theme theme">
      <div class="theme__media">
        <svg class="theme__ico theme__ico_primary">
          <use xlink:href="img/sprite.svg#themePrimary"></use>
        </svg>
        <svg class="theme__ico theme__ico_secondary">
          <use xlink:href="img/sprite.svg#themeSecondary"></use>
        </svg>
      </div>
    </div>

    <!-- languages -->
    <div class="header__languages languages">
      <div class="languages__header">
        <svg class="languages__ico">
          <use xlink:href="img/sprite.svg#languages__img01"></use>
        </svg>
      </div>
      <div class="languages__main">
        <ul class="languages__list">
          <li class="languages__item languages__item_active">
            <svg class="languages__ico">
              <use xlink:href="img/sprite.svg#languages__img01"></use>
            </svg>
          </li>
          <li class="languages__item">
            <svg class="languages__ico">
              <use xlink:href="img/sprite.svg#languages__img02"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>

    <!-- action -->
    <div class="header__action action">
      <div class="action__list">
        <div class="action__item action__item_favorite">
          <a class="action__link" href="#">
            <svg class="action__ico">
              <use xlink:href="img/sprite.svg#favoritePrimary"></use>
            </svg>
            <span class="action__value">3</span>
          </a>
        </div>
        <div class="action__item action__item_search">
          <a class="action__link" href="#">
            <svg class="action__ico">
              <use xlink:href="img/sprite.svg#zoom"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- burger -->
    <div class="header__burger burger">
      <span class="burger__item"></span>
      <span class="burger__item"></span>
      <span class="burger__item"></span>
    </div>

    <!-- search -->
    <div class="header__search search">
      <div class="search__formular">
        <form class="search__form" action="index.html">
          <input
            class="search__input form__input"
            type="text"
            placeholder="Поиск"
          />
          <button class="search__button btn btn_tiny" type="submit">
            <svg class="btn__ico">
              <use xlink:href="img/sprite.svg#zoom"></use>
            </svg>
            <span class="btn__text">Найти</span>
          </button>
        </form>
      </div>
      <div class="search__dropdown">
        <div class="search__layout">
          <div class="search__header">
            <span class="search__title">Автопарк</span>
          </div>
          <div class="search__main">
            <ul class="search__list search__list_primary">
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img01.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Monjaro</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img02.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Coolray</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img03.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Tugella</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img04.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Geometry C</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img05.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Atlas</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img06.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Monjaro</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img07.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Tugella</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/products/products__img08.jpg"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Geely Monjaro</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="search__layout">
          <div class="search__header">
            <span class="search__title">Категории</span>
          </div>
          <div class="search__main">
            <ul class="search__list search__list_secondary">
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/categories/categories__img01.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Эконом</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/categories/categories__img02.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Бизнес</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/categories/categories__img03.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Премиум</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/categories/categories__img04.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Внедорожники</span>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/categories/categories__img06.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                  <span class="search__text">Минивэн</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="search__layout">
          <div class="search__header">
            <span class="search__title">Бренды</span>
          </div>
          <div class="search__main">
            <ul class="search__list search__list_tertiary">
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/brands/brands__img01.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/brands/brands__img01.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/brands/brands__img01.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/brands/brands__img01.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                </a>
              </li>
              <li class="search__item">
                <a class="search__link" href="#">
                  <picture class="search__img">
                    <img
                      data-src="img/content/brands/brands__img01.png"
                      src="img/preview.jpg"
                      alt="image description"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->
</header>
<!-- //header -->
