<div class="layout__modal modal">
  <!-- // Отзыв  -->
  <div class="modal__layout modal__layout_testimonials">
    <!-- header -->
    <div class="modal__header">
      <div class="modal__title title">
        <h3 class="title__text"><strong>Оставить отзыв</strong></h3>
      </div>
      <div class="modal__action action">
        <svg class="action__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- main -->
    <div class="modal__main">
      <div class="layout__formular formular">
        <form class="layout__form form">
          <div class="form__item">
            <label class="form__label form__label_secondary"
              >Ваше имя <em>*</em></label
            >
            <input class="form__input" type="text" placeholder="Имя" required />
          </div>
          <div class="form__item">
            <label class="form__label form__label_secondary"
              >Ваш комментарий</label
            >
            <textarea
              class="form__input form__input_textarea"
              type="text"
              placeholder="Комментарий"
              required
            ></textarea>
          </div>
          <div class="form__item">
            <div class="form__check">
              <label class="check__label">
                <input
                  class="check__input"
                  type="checkbox"
                  name="chekbox"
                  required
                />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text"
                  >Я согласен на обработку
                  <a class="check__link" href="#"> персональных данных</a></span
                >
              </label>
            </div>
          </div>

          <div class="form__item">
            <button class="btn">
              <span class="btn__text">Оставить отзыв</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- // Заказ  -->
  <div class="modal__layout modal__layout_order">
    <!-- header -->
    <div class="modal__header">
      <div class="modal__title title">
        <h3 class="title__text"><strong>Заказать звонок</strong></h3>
      </div>
      <div class="modal__action action">
        <svg class="action__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- main -->
    <div class="modal__main">
      <div class="layout__formular formular">
        <form class="layout__form form">
          <div class="form__item">
            <label class="form__label form__label_secondary"
              >Ваше имя <em>*</em></label
            >
            <input class="form__input" type="text" placeholder="Имя" required />
          </div>
          <div class="form__item">
            <label class="form__label form__label_secondary"
              >Ваше телефон <em>*</em></label
            >
            <input
              class="form__input form__input_mask"
              type="text"
              placeholder="Телефон"
              required
            />
          </div>

          <div class="form__item form__label_secondary">
            <label class="form__label">Выберите способ обратной связи</label>
            <select>
              <option value="v1">Звонок</option>
              <option value="v2">Звонок</option>
              <option value="v3">Звонок</option>
            </select>
          </div>
          <div class="form__item">
            <label class="form__label form__label_secondary"
              >Ваш комментарий</label
            >
            <textarea
              class="form__input form__input_textarea"
              type="text"
              placeholder="Комментарий"
              required
            ></textarea>
          </div>

          <div class="form__item">
            <div class="form__check">
              <label class="check__label">
                <input
                  class="check__input"
                  type="checkbox"
                  name="chekbox"
                  required
                />
                <svg class="check__ico check__ico_before">
                  <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                </svg>
                <svg class="check__ico check__ico_after">
                  <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                </svg>
                <span class="check__text"
                  >Я согласен на обработку
                  <a class="check__link" href="#"> персональных данных</a></span
                >
              </label>
            </div>
          </div>

          <div class="form__item">
            <button class="btn">
              <span class="btn__text">Оставить отзыв</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- // Сортировка  -->
  <div class="modal__layout modal__layout_secondary modal__layout_sorting">
    <!-- header -->
    <div class="modal__header">
      <div class="modal__title title">
        <h4 class="title__text"><strong>Сортировка</strong></h4>
      </div>
      <div class="modal__action action">
        <svg class="action__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- main -->
    <div class="modal__main">
      <div class="layout__selection selection">
        <form class="selection__form form">
          <ul class="selection__list">
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">Цена вверх</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico01"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico02"></use>
                </svg>
              </label>
            </li>
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">Цена вниз</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico01"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico02"></use>
                </svg>
              </label>
            </li>
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">По популярности</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico01"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico02"></use>
                </svg>
              </label>
            </li>
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">По названию A-Z</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico01"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico02"></use>
                </svg>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
  <!-- // Выборка  -->
  <div class="modal__layout modal__layout_selection">
    <!-- header -->
    <div class="modal__header">
      <div class="modal__title title">
        <h4 class="title__text"><strong>Тип двигателя</strong></h4>
      </div>
      <div class="modal__action action">
        <svg class="action__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- main -->
    <div class="modal__main">
      <div class="layout__selection selection">
        <form class="selection__form form">
          <ul class="selection__list">
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">Бензин</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico03"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico04"></use>
                </svg>
              </label>
            </li>
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">Дизель</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico03"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico04"></use>
                </svg>
              </label>
            </li>
            <li class="selection__item">
              <label class="selection__label">
                <input class="selection__input" type="radio" />
                <span class="selection__text">Гибрид</span>
                <svg class="selection__ico selection__ico_before">
                  <use xlink:href="img/sprite.svg#selection__ico03"></use>
                </svg>
                <svg class="selection__ico selection__ico_after">
                  <use xlink:href="img/sprite.svg#selection__ico04"></use>
                </svg>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="modal__footer">
      <button type="submit" class="btn btn_transparent">
        <span class="btn__text">Сбросить</span>
      </button>
    </div>
  </div>
  <!-- // Ответ  -->
  <div class="modal__layout modal__layout_response">
    <!-- header -->
    <div class="modal__header">
      <div class="modal__action action">
        <svg class="action__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>
    <!-- main -->
    <div class="modal__main">
      <div class="wysiwyg text-center">
        <h1>Спасибо!</h1>
        <h4>В ближайшее время наш менеджер свяжется с Вами.</h4>
      </div>
    </div>
  </div>
</div>
