.accordion
  .accordion__item
    &:not(:last-child)
      margin-bottom: .5rem
    &.accordion__item_active
      .accordion__header
        .accordion__media
          img,
          svg
            transform: rotate(180deg)

    .accordion__header
      display: flex
      align-items: center
      cursor: pointer
      .accordion__title
        &:not(:last-child)
          margin-right: 1rem
      .accordion__media
        width: 2.5rem
        height: 2.5rem
        margin-left: auto
        img,
        svg
          width: 1rem
          height: 1rem
          transform: rotate(0deg)
          @include transition
    .accordion__main
      display: none