// button
.btn
  color: $colorWhite
  background-color: $colorSecondary300
  border: 1px solid $colorSecondary300
  font-size: 1rem
  line-height: 1.5rem
  font-weight: 700
  font-family: $mainFont
  padding: .675em 1rem
  border-radius: .5rem
  gap: .75rem
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  text-align: center
  appearance: none
  @include transition
  &:disabled
    color: $colorPrimary600
    background-color: $colorPrimary300
    .btn__ico
      fill: $colorPrimary600
  &:hover,
  &.active
    background: $colorSecondary400
    .btn__ico
      fill: $colorWhite
  &.disabled
    pointer-events: none
  &.btn_transparent
    color: $colorSecondary300
    border-color: #223B8f20
    background-color: transparent
    &:hover,
    &.active
      color: $colorWhite
      background-color: $colorSecondary300
      border-color: $colorSecondary300
      .btn__ico
        fill: $colorWhite
    .btn__ico
      fill: $colorSecondary300
  &.btn_secondary
    color: $colorWhite
    background-color: $colorSecondary400
    border-color: $colorSecondary400
    &:hover,
    &.active
      color: $colorWhite
      background-color: $colorSecondary300
      border-color: $colorSecondary300
    &.btn_transparent
      color: $colorSecondary400
      border-color: #091C2D20
      background-color: transparent
      &:hover,
      &.active
        color: $colorWhite
        background-color: $colorSecondary400
        border-color: $colorSecondary400
  &.btn_tertiary
    color: $colorWhite
    background-color: $colorSecondary400
    border-color: $colorSecondary400
    &:hover,
    &.active
      color: $colorSecondary400
      background-color: transparent
      border-color: $colorSecondary400
    &.btn_transparent,
    &.disabled
      color: $colorSecondary400
      background-color: transparent
      border-color: $colorSecondary400
      &:hover,
      &.active
        color: $colorWhite
        background-color: $colorSecondary400
        border-color: $colorSecondary400
  
  &.btn_quarty
    color: $colorSecondary300
    background-color: $colorWhite
    border-color: $colorWhite
    &:hover,
    &.active
      color: $colorWhite
      background-color: transparent
      border-color: $colorWhite
    &.btn_transparent,
    &.disabled
      color: $colorWhite
      background-color: transparent
      border-color: $colorWhite
      &:hover,
      &.active
        color: $colorSecondary300
        background-color: $colorWhite
        border-color: $colorWhite

  &.btn_ico
    width: 3rem
    height: 3rem
    padding: 0



  .btn__ico
    width: 1rem
    height: 1rem
    fill: $colorWhite
    flex-shrink: 0
    @include transition
  &.btn_tiny
    font-size: .875rem
    line-height: 1.25rem
    padding: .5rem 1rem
    border-radius: .5rem
    @include mediaMinWidthMobile
      border-radius: .25rem

// button
.button
  color: $colorSecondary400
  font-size: .875rem
  line-height: 1.25rem
  font-weight: 700
  gap: .75rem
  display: flex
  align-items: center
  @include transition
  &:hover
    color: $colorSecondary300
    .button__ico
      fill: $colorSecondary300
  &.disabled
    color: $colorPrimary300
    .button__ico
      fill: $colorPrimary300
  .button__ico
    fill: $colorSecondary400
    width: 1rem
    height: .5rem
    @include transition
  &.button_secondary
    color: $colorWhite
    font-weight: 400
    .button__ico
      fill: $colorWhite

.buttons
  width: 100%
  .buttons__list
    gap: .75rem
    display: flex
    flex-direction: column
    @include mediaMinWidthMobile
      gap: 1.25rem
      flex-direction: row
      flex-wrap: wrap
.dark
  .btn
    &.btn_secondary,
    &.btn_tertiary
      color: $colorPrimary900
      background-color: $colorWhite
      border-color: $colorWhite
    &.btn_transparent
      color: $colorWhite
      background-color: transparent
      border-color: $colorWhite700
      &:hover
        color: $colorPrimary900
        background-color: $colorWhite
        border-color: $colorWhite
        .btn__ico
          fill: $colorPrimary900
      .btn__ico
        fill: $colorWhite
  // button
  .button
    color: $colorWhite700
    &:hover
      color: $colorWhite
      .button__ico
        fill: $colorWhite
    &.disabled
      color: $colorWhite200
      .button__ico
        fill: $colorWhite200
    .button__ico
      fill: $colorWhite700