.layout__form
  gap: .875rem
  display: flex
  flex-direction: column
.form__item
    gap: .5rem
    align-items: flex-start
    display: flex
    flex-direction: column
    &.form__item_secondary
      gap: .5rem .75rem
      flex-direction: row
      flex-wrap: wrap
      .form__label
        width: 100%
.form__label
  color: $colorPrimary600
  font-size: 1rem
  line-height: 1.5rem
  min-height: 1.5rem
  width: 100%
  text-align: left
  cursor: pointer
  @include transition
  &:hover
    color: $colorPrimary700
  &.form__label_secondary
    color: $colorPrimary700
.form__toggle
  cursor: pointer
.form__input
  color: $colorPrimary700
  background-color: $colorWhite
  font-size: 1rem
  line-height: 1.5rem
  font-weight: 400
  font-family: $mainFont
  padding: .75rem 1rem
  height: 3rem
  width: 100%
  border-radius: .5rem
  border: 1px solid $colorPrimary300
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  // заблокированно
  &:disabled
    opacity: .5
  // ошибка
  &.error
    border-color: $colorTertiary300
  // подсказка
  &::placeholder
    opacity: 1
    color: $colorPrimary500
  // активное поле
  &:focus,
  &:hover
    border-color: $colorSecondary400

  // екстареа
  &.form__input_textarea
    width: 100%
    height: 7rem
    resize: none
    @include mediaMinWidthMobile
      height: 11.4rem



// Стилизация чекбоксов и радиокнопок
.form__check
  &.form__check_secondary
    .check__ico
      width: 1rem
      height: 1rem
    .check__text
      font-size: .875rem
      line-height: 1rem
      padding-left: 1.5rem
  .check__label
    position: relative
    display: flex
  .check__input
    position: absolute
    opacity: 0
    // нажатое состояние
    &:checked
      & ~ .check__ico
        &.check__ico_before
          opacity: 0
        &.check__ico_after
          opacity: 1
      & ~ .check__text
        color: $colorSecondary500
        a
          color: $colorSecondary500
    // заблокированное состояние
    &:disabled ~ .check__text
      pointer-events: none
    // ошибка
    &.error ~ .check__text
      color: $colorTertiary300
  // текст
  .check__text
    color: $colorPrimary600
    font-size: .875rem
    line-height: 1.5rem
    padding-left: 2rem
    position: relative
    cursor: pointer
    a
      color: $colorPrimary600
  .check__link
    color: $colorPrimary700
    position: relative
    text-decoration: underline
    &:hover
      text-decoration: none

  .check__ico
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
    position: absolute
    fill: none
    top: 0
    left: 0
    @include transition
    &.check__ico_before
      opacity: 1
    &.check__ico_after
      opacity: 0
  // checkbox
  input[type='checkbox']
    & ~ .check__text
  // radio
  input[type='radio']
    & ~ .check__text
      &:before,
      &:after
        border-radius: 50%

// Выбор цвета
.form__colors
  .colors__list
    gap: .875rem
    display: flex
    flex-wrap: wrap
  .colors__label
    position: relative
    cursor: pointer
  .colors__input
    position: absolute
    left: -99999px
    &:checked
      & ~ .colors__ico
        &::before
          opacity: 1
          visibility: visible
  .colors__ico
    width: 2rem
    height: 2rem
    border-radius: 50%
    display: block
    position: relative
    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 2.5rem
      height: 2.5rem
      border-radius: 50%
      border: 1px solid #54B0D9
      opacity: 0
      visibility: hidden
      @include transform
      @include transition



// Стилизация селекта
.jcf-select,
select
  width: 100%
  height: 3rem
  border: 1px solid $colorPrimary400
  background-color: $colorWhite
  border-radius: .5rem
  position: relative
  appearance: none
  display: flex
  outline: none
  cursor: pointer
  @include transition

  &.jcf-drop-active,
  &:hover
    .jcf-select-opener
      &:after
        transform: rotate(-180deg)
  &.jcf-drop-active
    .jcf-select-opener
      transform: rotate(180deg)
  &.jcf-disabled
    opacity: .3

  .jcf-select-text
    color: $colorPrimary700
    font-size: 1rem
    line-height: 1rem
    width: 100%
    padding: .75rem 1rem
    position: relative
    font-family: $mainFont
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    background-color: transparent
    display: flex
    justify-content: flex-start
    align-items: center
    @include transition
    span
      position: relative
      z-index: 2
    .jcf-option-placeholder
      color: $colorPrimary300

  .jcf-select-opener
    width: 3rem
    height: 3rem
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    background-image: url("../img/arrowBottom.png")
    background-repeat: no-repeat
    background-position: calc(100% - 1rem) center
    background-size: 1rem
    transform: rotate(0deg)
    transform-origin: center center
    @include transition

.jcf-select-drop
  position: absolute
  top: calc(100% + .25rem)
  left: 0
  z-index: 3

  .jcf-list-content
    max-height: 15rem
    width: 100%
    border: 1px solid $colorPrimary300
    border-radius: .5rem
    vertical-align: top
    display: inline-block
    overflow: auto

  ul
    margin: 0
    list-style: none

  li
    margin: 0

    &:first-child
      border-radius: .75rem .75rem 0 0

    &:last-child
      border-radius: 0 0 .75rem .75rem

  .jcf-option
    color: $colorPrimary700
    background-color: $colorWhite
    font-size: 1rem
    line-height: 1.5rem
    padding: .75rem 1rem
    display: block
    cursor: pointer
    @include transition

    &:hover
      color: $colorWhite
      background-color: $colorSecondary300
    &.jcf-selected
      color: $colorWhite
      background-color: $colorSecondary300


// Стилизация добавление файла
.form__attach
  width: 100%
  &.form__attach_active
    .attach__preview
      display: none
    .attach__layout
      display: flex

  .attach__label
    position: relative
    cursor: pointer
  .attach__input
    position: absolute
    left: -99999px
    opacity: 0
    visibility: hidden
  .attach__preview
    .attach__label
      border-radius: .5rem
      color: $colorSecondary800
      padding: 2rem
      background-color: $colorSecondary700
      border: 1px dashed $colorSecondary600
      gap: .75rem
      display: flex
      flex-direction: column
      align-items: center
      text-align: center 
    .attach__ico
      width: 1.5rem
      height: 1.5rem
      opacity: .25
  .attach__layout
    gap: .125rem
    display: none
    align-items: center
  .attach__img
    width: 10rem
    height: 7.5rem
  .attach__remove
    gap: .25rem
    display: flex
    align-items: center
    cursor: pointer
    .attach__ico
      width: 1rem
      height: 1rem
      
      flex-shrink: 0
    .attach__text
      color: $colorRed


// Слайдер
.range
  width: 100%
  display: flex
  flex-direction: column
  .range__header
    margin-bottom: -.125rem
    pointer-events: none
    .range__list
      display: flex
    .range__item
      width: 50%
      &:nth-child(1)
        .range__field
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          border-right: 0
      &:nth-child(2)
        .range__field
          border-top-left-radius: 0
          border-bottom-left-radius: 0
    .range__field
      height: 2.5rem
  .range__slider
    height: .25rem
    background-color: #CDD2E3
    border-radius: .25rem
    border: 0 !important
    position: relative

    &:not(:last-child)
      margin-bottom: .75rem

    .ui-slider-range
      position: absolute
      z-index: 2
      font-size: .7em
      display: block
      border: 0
      top: 0
      height: 100%
      background-color: $colorSecondary400
      &.ui-widget-header
        background-color: $colorSecondary300
    .ui-slider-handle
      position: absolute
      top: -.35em
      margin-left: -.6em
      cursor: pointer
      -ms-touch-action: none
      touch-action: none
      width: .875rem
      height: .875rem
      border-radius: 50%
      border: 0
      z-index: 2
      background-color: $colorSecondary300


// Датапикер
.form__datepicker
  background-image: url("../img/datepicker.png")
  background-repeat: no-repeat
  background-position: calc(100% - 1.125rem) center
  background-size: auto 50%
  background-color: unset

.ui-datepicker
  padding: 1.5rem
  display: none
  max-width: calc(100vw - 3rem)
  border-radius: .5rem
  background-color: $colorWhite
  font-family: $mainFont
  border: 1px solid $colorPrimary700
  z-index: 13!important
  @include mediaMinWidthTabletPort
  
    max-width: 21.5rem
  .ui-datepicker-header
    position: relative
    margin-bottom: 1rem

    .ui-datepicker-year
      display: none

  .ui-datepicker-prev,
  .ui-datepicker-next
    position: absolute
    top: 50%
    height: 1.25rem
    width: 1.25rem
    cursor: pointer
    display: flex
    align-items: center
    justify-content: flex-start
    transform: translateY(-50%)
    @include transition
    &.ui-state-disabled
      opacity: .5
    .ui-icon
      height: 1.5rem
      display: flex
      align-items: center
  .ui-datepicker-prev
    left: 0

  .ui-datepicker-next
    right: 0


  .ui-datepicker-title
    display: flex
    justify-content: center
  .ui-datepicker-month
    color: $colorPrimary800
    font-size: 1.25rem
    line-height: 2rem
    font-weight: 600
    border-radius: 6px

  .ui-datepicker-calendar
    width: 100%
    margin: 0
    border-collapse: collapse

    th,
    td
      border: 0
      padding: 0
      background: none

      // Прошлые дни
      &.ui-datepicker-unselectable
        opacity: .5
        pointer-events: none
        span,
        a
          color: $colorPrimary300
      // Текущий день
      &.ui-datepicker-today,
      &:hover
        span,
        a
          color: $colorPrimary700
          border-color: $colorPrimary700
      // Выбранный день
      &.ui-datepicker-current-day
        span,
        a
          color: $colorWhite
          border-color: $colorPrimary700
          background-color: $colorPrimary700
      span,
      a
        font-size: .875rem
        line-height: 1.25rem
        font-weight: 700
        height: 2.5rem
        width: 2.5rem
        border: .125rem solid transparent
        border-radius: .5rem
        color: $colorPrimary500
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        text-align: center
        background: transparent
        @include transition

    th
      pointer-events: none
      span,
      a
        color: $colorPrimary800
        font-size: 1rem
        line-height: 1.25rem


// Стилизация скролла
::-webkit-scrollbar
  width: .125rem
  height: 0

::-webkit-scrollbar-track
  background: $colorWhite

::-webkit-scrollbar-thumb
  background-color: $colorSecondary300

  &:hover
    background-color: $colorSecondary300

// Темная тема
.dark
  .form__label
    color: $colorWhite700
  .form__input
    color: $colorWhite
    background-color: $colorPrimary1000
    border-color: $colorPrimary900

  .jcf-select,
  select
    background-color: $colorPrimary1000
    border-color: $colorPrimary900
    .jcf-select-text
      color: $colorWhite
  .jcf-option
    color: $colorWhite
    background-color: $colorPrimary1000
  .jcf-list-content
    border-color: $colorPrimary900
    // Датапикер
  .ui-datepicker
    background-color: $colorPrimary1000
    border: 1px solid $colorPrimary1000
    .ui-datepicker-month
      color: $colorWhite700
    .ui-datepicker-calendar
      th,
      td
        // Прошлые дни
        &.ui-datepicker-unselectable
          span,
          a
            color: $colorWhite700
        // Текущий день
        &.ui-datepicker-today,
        &:hover
          span,
          a
            color: $colorWhite
            border-color: $colorWhite
        // Выбранный день
        &.ui-datepicker-current-day
          span,
          a
            color: $colorWhite
            border-color: $colorWhite
            background-color: transparent
      th
        span,
        a
          color: $colorWhite700