// SCROLL
.layout__scroll
  margin: 0 -.75rem
  width: calc(100% + 1.5rem)
  gap: 1.5rem
  display: flex
  flex-direction: column
  @include mediaMinWidthMobile
    gap: unset
    flex-direction: row
    overflow: hidden
    overflow-x: auto
  @include mediaMinWidthTabletPort
    margin: 0 -1.25rem
    width: calc(100% + 2.5rem)
  &.layout__scroll_primary
    >div
      @include mediaMinWidthMobile
        width: 50%
  &.layout__scroll_secondary
    >div
      @include mediaMinWidthMobile
        width: 50%
      @include mediaMinWidthTabletPort
        width: 33.3%
  &.layout__scroll_tertiary
    >div
      @include mediaMinWidthMobile
        width: 50%
      @include mediaMinWidthTabletPort
        width: 25%
  >div
    width: 100%
    padding: 0 .75rem
    flex-shrink: 0
    @include mediaMinWidthTabletPort
      padding: 0 1.25rem