// Социальные сети
.layout__socials
  .socials__list
    gap: .5rem
    display: flex
    align-items: center
  .socials__item
    &:hover
      .socials__ico
        transform: scale(1.1)
  .socials__link
    width: 1.5rem
    height: 1.5rem
    display: flex
    align-items: flex-start
  .socials__ico
    width: 100%
    height: 100%
    transform: scale(1)
    @include transition







