.tabs
  .tabs__header
    overflow: hidden
    overflow-x: auto
    .tabs__list
      display: flex
    .tabs__item
      padding: .5rem 1rem
      display: flex
      border-bottom: .125rem solid $colorPrimary200
      &.tabs__item_active
        border-color: $colorSecondary300
  .tabs__title
    .title__text
      color: $colorPrimary400
      font-size: 1rem
      line-height: 1.5rem
      font-weight: 600
      text-overflow: ellipsis
      white-space: nowrap
      display: block
      overflow: hidden
      cursor: pointer
      @include transition
  .tabs__main
    position: relative
    overflow: hidden
    .tabs__item
      width: 100%
      position: absolute
      left: -100vw
      padding: 1rem 0
      top: 0
      opacity: 0
      @include transition
      &.tabs__item_active
        position: relative
        opacity: 1
        left: 0