.wysiwyg
  &:not(:last-child)
    margin-bottom: 1.5rem
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6
    &:not(:last-child)
      margin: 0 0 1.5rem
  img,
  svg
    display: block
    &:not(:last-child)
      margin-bottom: .5rem
  p,
  ul,
  ol
    &:not(:last-child)
      margin-bottom: .75rem
  strong
    font-weight: 600
  ul
    list-style: none
    ul
      margin-left: 0
    li
      position: relative
      padding-left: 1.25rem
      &:before
        content: ""
        left: 0
        top: .4rem
        width: .625rem
        height: .625rem
        border-radius: 50%
        background-color: $colorSecondary400
        position: absolute
        &:not(:last-child)
          margin-bottom: 1.25rem
  ol
    list-style: decimal
    padding-left: 1rem
    li
      &:not(:last-child)
        margin-bottom: 1rem
  a
    color: $colorSecondary400
    position: relative
    white-space: nowrap
    text-decoration: none
    &:before
      content: ""
      position: absolute
      top: calc(100% + .125rem)
      left: 0
      height: 1px
      width: 100%
      background-color: $colorSecondary400
      opacity: .2
      @include transition
    &:hover
      &:before
        opacity: 1






















