// RESET
@font-face
  font-family: Circe
  font-display: auto
  font-weight: 300
  src: url(../fonts/Circe-Light.eot)
  src: url(../fonts/Circe-Light.eot) format("embedded-opentype")
  src: local("Circe-Light"), url(../fonts/Circe-Light.woff) format("woff"), url(../fonts/Circe-Light.ttf) format("truetype")
@font-face
  font-family: Circe
  font-display: auto
  font-weight: 400
  src: url(../fonts/Circe-Regular.eot)
  src: url(../fonts/Circe-Regular.eot) format("embedded-opentype")
  src: local("Circe-Regular"), url(../fonts/Circe-Regular.woff) format("woff"), url(../fonts/Circe-Regular.ttf) format("truetype")
@font-face
  font-family: Circe
  font-display: auto
  font-weight: 700
  src: url(../fonts/Circe-Bold.eot)
  src: url(../fonts/Circe-Bold.eot) format("embedded-opentype")
  src: local("Circe-Bold"), url(../fonts/Circe-Bold.woff) format("woff"), url(../fonts/Circe-Bold.ttf) format("truetype")
// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 400 4.26666vw/1.5rem $mainFont
  @include mediaMinWidthMobile
    font-size: 2.15vw
  @include mediaMinWidthTabletPort
    font-size: 1.111vw

body
  color: $colorSecondary400
  background-color: $colorWhite
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  min-height: 100%
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight: 700

  a
    color: $colorSecondary400
    text-decoration: none
    @include transition
    &:hover
      color: $colorSecondary200
  strong
    color: $colorSecondary300
h1,
.h1
  font-size: 2rem
  line-height: 100%
  @include mediaMinWidthMobile
    font-size: 3.125rem
  @include mediaMinWidthTabletPort
    font-size: 4rem
   
h2,
.h2
  font-size: 1.75rem
  line-height: 120%
  @include mediaMinWidthMobile
    font-size: 2.1875rem
  @include mediaMinWidthTabletPort
    font-size: 3.125rem
h3,
.h3

  font-size: 1.5rem
  line-height: 120%
  @include mediaMinWidthMobile
    font-size: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 2.25rem
h4,
.h4
  font-size: 1.5rem
  line-height: 130%
  @include mediaMinWidthTabletPort
    font-size: 1.5rem
    line-height: 130%
h5,
.h5
  font-size: 1rem
  line-height: 120%
  @include mediaMinWidthTabletPort
    font-size: 1.25rem
    line-height: 120%
h6,
.h6
  font-size: 1rem
  line-height: 120%

img,
svg
  outline: none
  max-width: 100%
  max-height: 100%
  object-fit: cover
  height: auto

ul,
ol
  list-style: none
a
  color: $colorSecondary400
  text-decoration: none
strong
  font-weight: 700

// Темная тема
.dark
  color: $colorWhite
  background-color: $colorPrimary1000
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6
    font-weight: 700
    a
      color: $colorWhite
      &:hover
        color: $colorWhite
    strong
      color: $colorWhite