// Статьи
.layout__articles
  .articles__list
    &:not(.articles__list_secondary)
      margin: 0 -.75rem
      width: calc(100% + 1.5rem)
      display: flex
      gap: 2rem 0
      flex-wrap: wrap
      @include mediaMinWidthTabletPort
      margin: 0 -1.25rem
      width: calc(100% + 2.5rem)
      .articles__item
          width: 100%
          padding: 0 .75rem
          gap: .75rem
          @include mediaMinWidthMobile
              width: 50%
          @include mediaMinWidthTabletPort
              width: 33.3%
              gap: .875rem
              padding: 0 1.25rem
    &.articles__list_secondary
      gap: 1.5rem
      display: flex
      flex-direction: column
      @include mediaMinWidthTabletPort
        gap: 2.5rem
      @include mediaMinWidthMobile
        .articles__link
            gap: 2.5rem
            flex-direction: row
        .articles__media
          width: 50%
          padding-top: 30%
          flex-shrink: 0
          &:not(:last-child)
            margin-bottom: 0
        .articles__text
          -webkit-line-clamp: 4
        .articles__footer
          margin-top: auto
  .articles__link
    color: $colorSecondary400
    display: flex
    flex-direction: column
    &:hover
      .articles__media
        &::before
          transform: translateY(100%)

  .articles__media
    border-radius: .5rem
    padding-top: 75%
    width: 100%
    position: relative
    overflow: hidden
    display: flex
    @include mediaMinWidthTabletPort
      padding-top: 45%
    &:not(:last-child)
      margin-bottom: .875rem
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 2
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
      background-size: 1
      transform: translateY(0)
      @include transition
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .articles__layout
    display: flex
    flex-direction: column
  .articles__data
    &:not(:last-child)
      margin-bottom: .875rem
    .data__list
      gap: .875rem
      display: flex
    .data__item
      gap: .5rem
      display: flex
      align-items: center
    .data__ico
      gap: .5rem
      width: .875rem
      height: .875rem
      fill: $colorPrimary600
      transform: translateY(-.125rem)
      flex-shrink: 0
    .data__text
      color: $colorPrimary600
      font-size: .875rem
      line-height: 1.25rem
  .articles__header
    &:not(:last-child)
      margin-bottom: .75rem
  .articles__title
    cursor: pointer
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
  .articles__main
    font-size: .875rem
    line-height: 1.25rem
    &:not(:last-child)
      margin-bottom: .5rem
      @include mediaMinWidthTabletPort
        margin-bottom: 1.25rem
  .articles__text
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden
    @include mediaMinWidthTabletPort
      -webkit-line-clamp: 2
  .articles__footer
    display: flex
    justify-content: flex-start

// Темная тема
.dark
  // Статьи
  .layout__articles
    .articles__link
      color: $colorWhite700
    .articles__data
      .data__ico
        fill: $colorWhite700
      .data__text
        color: $colorWhite700