// Статья
.layout__article
  display: flex
  flex-direction: column
  gap: 1.5rem

  .article__header
    display: flex
    flex-direction: column
    @include mediaMinWidthMobile
      flex-direction: row
      align-items: center
      justify-content: space-between
  .article__data
    &:not(:last-child)
      margin-bottom: .875rem
    .data__list
      gap: .875rem
      display: flex
    .data__item
      gap: .5rem
      display: flex
      align-items: center
    .data__ico
      gap: .5rem
      width: .875rem
      height: .875rem
      fill: $colorPrimary600
      transform: translateY(-.125rem)
      flex-shrink: 0
    .data__text
      color: $colorPrimary600
      font-size: .875rem
      line-height: 1.25rem
  
  .article__main
    color: $colorPrimary700
    font-size: 1rem
    line-height: 1.5rem
    .wysiwyg
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        strong
          color: $colorSecondary400
      figure
        display: flex
        flex-direction: column
        gap: .125rem
        &:not(:last-child)
          margin-bottom: 1.5rem
        img
          min-height: 15rem
          border-radius: .5rem
        figcaption
          color: $colorSecondary300
          font-size: .625rem
          line-height: 1rem

// Темная тема
.dark
  .layout__article
    .article__data
      .data__ico
        fill: $colorWhite200
      .data__text
        color: $colorWhite200
    .article__main
      color: $colorWhite200
      .wysiwyg
        h1,
        h2,
        h3,
        h4,
        h5,
        h6
          strong
            color: $colorWhite
        figure
          figcaption
            color: $colorWhite700