// Банер
.layout__banner
  min-height: 100vh
  display: flex
  align-items: flex-end
  position: relative
  @include mediaMinWidthMobile
    min-height: 29.5rem
  .banner__media
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,.5)
      z-index: 2
    img
      width: 100%
      height: 100%
  .banner__layout
    color: $colorWhite
    position: relative
    z-index: 2
    padding: 8rem 0 2.5rem
    @include mediaMinWidthTabletPort
      padding: 8rem 0 3.75rem
      transform: translateY(2rem)
      opacity: 0
      visibility: hidden
      @include transition
  .banner__header
    @include mediaMinWidthTabletPort
      max-width: 55%
  .banner__title
    &:not(.banner__title_secondary)
      text-transform: uppercase
.layout_ready-load
  .layout__banner
    .banner__layout
      transform: translateY(0)
      opacity: 1
      visibility: visible