// Бронирование
.layout__book
  padding: 2rem 1.5rem
  margin: 0 -1.5rem
  position: relative
  @include mediaMinWidthMobile
    margin: 0
    padding: 3.5rem 3.5rem 7.5rem
  .book__media
    overflow: hidden
    position: absolute
    display: flex
    align-items: flex-start
    top: 0
    left: 0
    height: 100%
    width: 100%
    @include mediaMinWidthMobile
      border-radius: .5rem
    overflow: hidden
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: .75
      background-color: $colorPrimary800
    picture
      width: 100%
      height: 100%
      display: flex
      align-items: flex-start
    img
      width: 100%
      height: 100%
  .book__layout
    color: $colorWhite
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    text-align: center
    z-index: 2

  .book__header
    &:not(:last-child)
      margin-bottom: 1.5rem
  .book__main
    width: 100%
    max-width: 38.75rem
    &:not(:last-child)
      margin-bottom: 1.25rem
  .book__formular
    &:not(:last-child)
      margin-bottom: 2rem
    .form__item
      align-items: center
      @include mediaMinWidthMobile
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
      @include mediaMinWidthTabletPort
        justify-content: flex-start
      .form__input
        @include mediaMinWidthMobile
          width: calc(50% - .4rem)
        color: $colorWhite
        &:hover,
        &:focus
          border-color: $colorWhite
      .form__check
        @include mediaMinWidthMobile
          width: auto