// Выкуп авто
.layout__buying
  gap: 1.25rem
  display: flex
  flex-direction: column
  @include mediaMinWidthTabletPort
    gap: 2rem
    flex-direction: row
  .buying__calc,
  .buying__layout
    @include mediaMinWidthTabletPort
      width: 50%
      flex-shrink: 0
  .buying__layout
    color: $colorWhite
    background: linear-gradient(to bottom,  #435db2 0%,#223b8f 100%)
    padding: 3rem 1.5rem
    border-radius: .5rem
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 0 -1.875rem
    @include mediaMinWidthMobile
      margin: 0
      padding: 4.5rem 7.5rem 1.5rem
    @include mediaMinWidthTabletPort
      padding: 4.5rem 4rem 1.5rem
    .buying__list
      display: flex
      flex-direction: column
    .buying__item
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      &:not(:last-child)
        padding-bottom: 1.5rem
        margin-bottom: 1.5rem
        border-bottom: 1px dashed $colorPrimary300
    .buying__title
      font-size: 1rem
      line-height: 1.5rem
    .buying__text
      font-size: 3rem
      line-height: 5rem
      font-weight: 700
      @include mediaMinWidthMobile
        font-size: 4rem
    .buying__btn
      width: 100%
      @include mediaMinWidthMobile
        width: auto
    .buying__main
      &:not(:last-child)
        margin-bottom: 3rem
        @include mediaMinWidthMobile
          margin-bottom: 2.5rem
    .buying__action
      display: flex
      justify-content: center
      &:not(:last-child)
        margin-bottom: 2.5rem
        @include mediaMinWidthMobile
          margin-bottom: 6.25rem
    .buying__footer
      margin-top: auto
      text-align: center
      .buying__text
        color: $colorPrimary300
        font-size: .875rem
        line-height: 1.25rem
        font-weight: 400
.buying__calc
  border: 1px solid rgba(202,202,202,.5)
  border-radius: .5rem
  padding: 1.5rem
  @include mediaMinWidthMobile
    padding: 2rem
  .calc__formular
    margin: 0 -.5rem
    width: calc(100% + 1rem)
    display: flex
    gap: 1.75rem 0
    flex-wrap: wrap
  .form__item
    padding: 0 .5rem
    width: 100%
    @include mediaMinWidthMobile
      width: 50%
    &.form__item_secondary
      width: 100%
  .form__range
    gap: 1.25rem
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-wrap: wrap
    @include mediaMinWidthMobile
      flex-direction: row
      align-items: center
      justify-content: space-between
    .form__field
      width: 100%
      @include mediaMinWidthMobile
        width: 21.75rem
    .range__text
      color: $colorSecondary300
      background-color: $colorSecondary100
      font-size: .875rem
      line-height: 1.25rem
      font-weight: 700
      padding: .5rem .75rem
      border-radius: .25rem
      white-space: nowrap
      order: 3
      @include mediaMinWidthMobile
        order: unset
      &.range__max_secondary
        color: $colorWhite
        background-color: $colorSecondary300
    .range__slider
      width: 100%