// Обратная связь
.layout__callback
  color: $colorWhite
  padding: 3rem 1.5rem
  margin: 0 -1.5rem
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  background-color: $colorSecondary300
  @include mediaMinWidthMobile
    margin: 0
    padding: 3rem 2.5rem
    border-radius: .5rem
  &.layout__callback_secondary
    .callback__layout
      @include mediaMinWidthTabletPort
        max-width: 25rem
        .callback__header
          &:not(:last-child)
            margin-bottom: 1rem
        .callback__main
          color: $colorWhite
          &:not(:last-child)
            margin-bottom: 3rem
  &.layout__callback_tertiary
    @include mediaMinWidthTabletPort
      align-items: flex-start
      text-align: left
      .buttons
        .buttons__list
          justify-content: flex-start
  .callback__layout
    position: relative
    z-index: 2
    @include mediaMinWidthTabletPort
      max-width: 39.5rem
  .callback__header
    &:not(:last-child)
      margin-bottom: 2rem
  .callback__main
    color: $colorPrimary300
    &:not(:last-child)
      margin-bottom: 2rem
  .callback__media
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    align-items: flex-end
  .callback__media-item
    width: 17rem
    height: 15rem
    display: flex
    align-items: flex-end
    &.callback__media-item_before
      margin-right: auto
      picture
        justify-content: flex-end
    &.callback__media-item_after
      margin-left: auto
    picture
      width: 100%
      height: 100%
      display: flex
    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: 0 100%
  .callback__footer
    width: 100%
  .buttons__list
    display: flex
    justify-content: center

// Темная тема
.dark
  // Обратная связь
  .layout__callback
    color: $colorWhite
    &.layout__callback_secondary
      .callback__layout
        @include mediaMinWidthTabletPort
          .callback__main
            color: $colorWhite

