// Карусель
.layout__carousel
  .carousel__list
    margin: 0 -.25rem -.5rem
    width: calc(100% + .5rem)
    display: flex
    flex-wrap: wrap
    &.carousel__list_border
      @include mediaMinWidthTabletPort
        padding-bottom: .875rem
        border-bottom: 1px solid $colorPrimary500
    &.carousel__list_primary
      .carousel__img
        @include mediaMinWidthTabletPort
          height: 4.8rem
    &.carousel__list_secondary
      .carousel__item
        @include mediaMinWidthTabletPort
          width: 10%
      .carousel__img
        @include mediaMinWidthTabletPort
          height: 4.125rem
  .carousel__item
    width: 50%
    padding: 0 .25rem
    margin-bottom: .5rem
    flex-shrink: 0
    @include mediaMinWidthMobile
      width: 33.3%
    @include mediaMinWidthTabletPort
      width: 16.666%



    &:hover
      .carousel__link
        background-color: $colorPrimary200
  .carousel__link
    color: $colorSecondary400
    padding: 1rem .75rem
    border-radius: .5rem
    gap: 1.125rem
    background-color: $colorPrimary200
    display: flex
    flex-direction: column
    align-items: center
    @include transition
    @include mediaMinWidthTabletPort
      background-color: $colorWhite
  .carousel__img
    width: auto
    height: 3.5rem
    gap: 1.125rem
    img
      width: 100%
      height: 100%
      object-fit: contain
  .carousel__text
    font-size: 1.25rem
    line-height: 2rem
    font-weight: 700
    width: 100%
    text-align: center
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden




  // Темная тема
.dark
  .layout__carousel
    .carousel__list
      &.carousel__list_border
        @include mediaMinWidthTabletPort
          border-bottom: 1px solid $colorWhite
      .carousel__item
        &:hover
          .carousel__link
            background-color: $colorPrimary900
    .carousel__link
      color: $colorWhite
      background-color: transparent
      @include mediaMinWidthTabletPort
        background-color: transparent

  


