// Категория
.layout__category
  display: flex
  flex-direction: column
  @include mediaMinWidthTabletPort
    gap: 2rem
    flex-direction: row
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
  .category__header
    width: 100%
    border-bottom: 1px solid $colorPrimary300
    padding-bottom: 2rem
    gap: 1rem
    position: relative
    display: flex
    flex-wrap: wrap
    @include mediaMinWidthTabletPort
      flex-wrap: nowrap
    .category__toggle
      width: 100%
      display: flex
      gap: 1rem
      @include mediaMinWidthMobile
        width: auto
      .btn
        width: calc(50% - .5rem)
        @include mediaMinWidthMobile
          width: auto
        &.category__brands-toggle
          @include mediaMinWidthTabletPort
            display: none
    .category__tags
      order: 9
      width: 100%
      @include mediaMinWidthTabletPort
        width: auto
        order: unset
      .tags__list
        gap: 1rem
        display: flex
        flex-wrap: wrap
      .tags__item
        color: $colorSecondary300
        font-size: .875rem
        line-height: 1.25rem
        font-weight: 700
        padding: .5rem 1rem
        border-radius: .25rem
        background-color: $colorSecondary100
        display: flex
        align-items: center
        justify-content: center
        text-align: center
      .tags__text
        flex-shrink: 0
        &:not(:last-child)
          margin-right: .25rem
      .tags__value
        color: $colorWhite
        background-color: $colorRed
        font-size: .625rem
        line-height: .625rem
        width: .875rem
        height: .875rem
        flex-shrink: 0
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        &:not(:last-child)
          margin-right: .5rem
      .tags__ico
        width: 1rem
        height: 1rem
        flex-shrink: 0
        fill: $colorSecondary300
    .category__sorting
      width: 100%
      margin-left: auto
      flex-shrink: 0
      @include mediaMinWidthMobile
        width: auto

.category__brands
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.6)
  z-index: 12
  @include mediaMinWidthTabletPort
    width: 14rem
    height: auto
    flex-shrink: 0
    border-radius: .5rem
    z-index: 3
    border: 1px solid $colorPrimary400
    display: block
    position: unset
    overflow: hidden
  .brands__layout
    @include mediaMaxWidthTabletPort
      position: absolute
      top: 50%
      left: 50%
      padding: 1.5rem
      border-radius: 0
      background-color: $colorPrimary100
      position: fixed
      z-index: 11
      height: 100vh
      width: 100vw
      overflow: hidden
      overflow-y: auto
      @include transform
  .brands__header
    gap: 2rem
    display: flex
    align-items: center
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 2.5rem
    @include mediaMinWidthTabletPort
      display: none
    .brands__action
      width: 1.5rem
      height: 1.5rem
      flex-shrink: 0
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      &:hover
        @include mediaMinWidthDesktop
          .action__ico
            transform: rotate(45deg)
      .action__ico
        width: 100%
        height: 100%
        fill: $colorSecondary300
        transform: rotate(0deg)
        @include transition
  .brands__list
    display: flex
    flex-direction: column
    @include mediaMaxWidthTabletPort
      margin: 0 -.5rem
      width: calc(100% + 1rem)
      display: flex
      flex-direction: row
      gap: 1rem 0
      flex-wrap: wrap
    .brands__item
      padding: 0 .5rem
      width: 50%
      position: relative
      @include mediaMinWidthMobile
        width: 33.3%
      @include mediaMinWidthTabletPort
        width: 100%
        padding: 0
      &:not(:last-child)
        @include mediaMinWidthTabletPort
          &:after
            content: ""
            bottom: 0
            left: 1.5rem
            width: calc(100% - 3rem)
            height: 1px
            background-color: $colorPrimary100
            position: absolute
    .brands__link
      color: $colorSecondary400
      background-color: $colorPrimary200
      border-radius: .5rem
      gap: 1.125rem
      padding: .75rem
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      @include transition
      @include mediaMinWidthMobile
        padding: 1.5rem
      @include mediaMinWidthTabletPort
        padding: .875rem 1.5rem
        gap: 1.5rem
        background-color: $colorWhite
        border-radius: 0
        display: flex
        flex-direction: row
        align-items: center
        @include transition
      &:hover
        background-color: $colorSecondary100
    .brands__img
      width: auto
      height: 2.5rem
      flex-shrink: 0
      @include mediaMinWidthMobile
        height: 3.5rem
      @include mediaMinWidthTabletPort
        width: 1.5rem
        height: 1.5rem
    .brands__text
      font-size: 1.25rem
      line-height: 2rem
      font-weight: 700
      width: 100%
      text-align: center
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      @include mediaMinWidthTabletPort
        color: $colorPrimary700
        font-size: .875rem
        line-height: 1.25rem
        text-align: left
.category__main
  @include mediaMinWidthTabletPort
    width: calc(100% - 16rem)
.category__filter
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.6)
  z-index: 12
  @include mediaMinWidthTabletPort
    position: absolute
    background: none
    top: 100%
    width: 100%
    height: auto
    z-index: 4
  .filter__layout
    position: absolute
    top: 50%
    left: 50%
    width: 100vw
    padding: 1.5rem
    border-radius: 0
    background-color: $colorPrimary100
    position: fixed
    z-index: 11
    height: 100vh
    overflow: hidden
    overflow-y: auto
    @include transform
    @include mediaMinWidthTabletPort
      padding: 2rem 7.25rem 2rem 2rem
      top: 100%
      width: 100%
      height: auto
      border-radius: 0 0 .25rem .25rem
      left: 0
      position: unset
      transform: none
  .filter__header
    gap: 2rem
    display: flex
    align-items: center
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 2.5rem
    @include mediaMinWidthTabletPort
      display: none
  .filter__action
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    &:hover
      @include mediaMinWidthDesktop
        .action__ico
          transform: rotate(45deg)
    .action__ico
      width: 100%
      height: 100%
      fill: $colorSecondary300
      transform: rotate(0deg)
      @include transition
  .filter__main
    gap: 2rem
    display: flex
    flex-direction: column
    @include mediaMinWidthMobile
      flex-direction: row
      align-items: flex-start
    @include mediaMinWidthTabletPort
      gap: 4.625rem
      align-items: unset
    &:not(:last-child)
      border-bottom: 1px solid $colorPrimary300
      padding-bottom: 2rem
      margin-bottom: 2rem
  .filter__group
    width: 100%
    gap: .5rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    @include mediaMinWidthMobile
      width: calc(50% - 1.5rem)
    @include mediaMinWidthTabletPort
      width: calc(50% - 2.3125rem)
      gap: 1.5rem 1.25rem
    .form__item
      width: 100%
      @include mediaMinWidthTabletPort
        width: calc(50% - .625rem)
        &.form__item_secondary
          width: 100%
    .form__check_secondary
      @include mediaMinWidthTabletPort
        padding: .75rem 0
  .filter__footer
    .buttons__list
      width: 100%
      justify-content: center
      @include mediaMinWidthTabletPort
        width: auto
        justify-content: flex-start
// Темная тема 
.dark
  // Категория
  .layout__category
    .category__header
      border-bottom: 1px solid $colorPrimary900
    .category__brands
      @include mediaMinWidthTabletPort
        border: 1px solid $colorWhite200
      .brands__layout
        background-color: $colorPrimary900
        @include mediaMinWidthTabletPort
          background: none
      .brands__item
        &:not(:last-child)
          &:after
            background-color: $colorPrimary900
      .brands__link
        background-color: $colorPrimary1000
        &:hover
          background-color: $colorPrimary900
      .brands__text
        color: $colorWhite
    .category__filter
      .filter__layout
        background-color: $colorPrimary900
      .filter__main
        &:not(:last-child)
          border-bottom: 1px solid $colorPrimary900