// Изображения
.layout__collections
    gap: 2rem
    display: flex
    flex-direction: column
.collections__header
  color: $colorWhite
  gap: 1rem
  display: flex
  flex-direction: column
  align-items: center
.collections__main
  max-width: 100%
  margin: 0 auto
  gap: 1rem
  display: flex
  flex-direction: column
  align-items: center
  width: calc(100vw - 3rem)
  @include mediaMinWidthMobile
    width: 31.75rem
  @include mediaMinWidthTabletPort
    width: 57.625rem
  .collections__list
    width: 100%
    &.collections__list_primary
      &:hover
        .slick-arrow
          opacity: 1
          visibility: visible
      .slick-list
        overflow: visible
      .collections__item
      .collections__picture
        padding-top: 55%
        border-radius: .75rem
        margin: 0 .5rem
        @include mediaMinWidthMobile
          margin: 0 .75rem
        @include mediaMinWidthTabletPort
          margin: 0 1rem
        &::after
          opacity: .2
      .slick-arrow
        position: absolute
        top: 50%
        bottom: auto
        opacity: 0
        visibility: hidden
        @include transition
        @include transform-y
        &.slick-prev
          left: 1rem
          @include mediaMinWidthMobile
            left: 2rem
          @include mediaMinWidthTabletPort
            left: 2.75rem
        &.slick-next
          left: auto
          right: 1rem
          @include mediaMinWidthMobile
            right: 2rem
          @include mediaMinWidthTabletPort
            right: 2.75rem

    &.collections__list_secondary
      .slick-list
        padding: 0 .5rem!important
      .collections__item
        cursor: pointer
        margin: 0 .125rem
        @include mediaMinWidthTabletPort
          margin: 0 .5rem
        &.slick-current,
        &:hover
          .collections__picture
            &::after
              background-color: rgba(0,0,0,0)
      .collections__picture
        padding-top: 80%
        border-radius: .25rem
        &::after
          opacity: .6
  .collections__picture
    display: block
    overflow: hidden
    position: relative
    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $colorPrimary800
      z-index: 2
      @include transition
    .collections__img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%