// Сравнение
.layout__comparison
  display: flex
  flex-direction: column
  .comparison__formular
    padding-bottom: 2rem
    margin-bottom: 3rem
    border-bottom: 1px solid $colorPrimary300
    .layout__form
      gap: 1.25rem
      display: flex
      flex-direction: column
      @include mediaMinWidthMobile
        align-items: flex-end
        flex-direction: row
  .comparison__header
    display: flex
    align-items: center
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 2rem
  .comparison__navigation
    gap: .25rem
    display: flex
    justify-content: flex-end
    @include mediaMinWidthTabletPort
      gap: .875rem
    .slick-arrow
      border: 1px solid rgba(0,0,0,.2)
      border-radius: .5rem
      width: 3rem
      height: 2.35rem
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      img,
      svg
        width: 1rem
        height: 1rem
  .comparison__products
  .slick-list
    overflow: visible
  .products__item
    width: 12rem
    display: flex
    flex-direction: column
    flex-shrink: 0
    margin: 0 .5rem
    @include mediaMinWidthMobile
      width: 17rem
    @include mediaMinWidthTabletPort
      margin: 0 1rem
    &:not(.slick-current)
      .products__data
        .data__title
          opacity: 0
          visibility: hidden
    &.products__item_secondary
      &:not(:hover)
        .products__media
          .products__link
            &::before
              background-color: $colorPrimary200
              opacity: .8
              visibility: visible
  .products__header
    display: flex
    justify-content: flex-start
    &:not(:last-child)
      margin-bottom: 1.25rem
    .products__title
      font-size: 1.5rem
      line-height: 2rem
      font-weight: 700
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      position: relative
      display: block
      &:hover
        &::after
          width: 0%
      &::after
        content: ""
        position: absolute
        bottom: .25rem
        left: 0
        height: 1px
        background-color: $colorSecondary400
        width: 100%
        @include transition
  .products__main
    &:not(:last-child)
      margin-bottom: 1rem
  .products__media
    &:not(:last-child)
      margin-bottom: .875rem
    .products__link
      padding-top: 60%
      border-radius: .75rem
      width: 100%
      display: flex
      position: relative
      overflow: hidden
      &:hover
        &::before
          opacity: .6
          visibility: visible
        .products__button
          opacity: 1
          visibility: visible
      &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        visibility: hidden
        background-color: $colorPrimary800
        z-index: 2
        @include transition
    .products__img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      img
        width: 100%
        height: 100%
    .products__button
      position: absolute
      top: 50%
      left: 50%
      opacity: 0
      visibility: hidden
      z-index: 3
      @include transform
      @include transition
  .products__main
    display: flex
    align-items: center
    justify-content: space-between
    .products__favorite
      .favorite__link
        width: 2.75rem
        height: 2.75rem
        display: flex
        align-items: center
        justify-content: center
      .favorite__ico
        width: 1.25rem
        height: 1rem
        fill: none
        stroke: $colorSecondary300
  .products__data
    .data__list
      display: flex
      flex-direction: column
    .data__item
      gap: .25rem
      padding: .5rem 0
      position: relative
      display: flex
      flex-direction: column
      justify-content: flex-end
      &.data__item_secondary
        padding: 1rem 0
        .data__title,
        .data__text
          color: $colorSecondary400
          font-size: 1.5rem
          line-height: 1.5rem
          font-weight: 700
      &:not(:last-child)
        &::after
          content: ""
          position: absolute
          top: 100%
          left: 0
          height: 1px
          width: calc(100% + 2rem)
          background-color: $colorPrimary300
    .data__title,
    .data__text
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    .data__title
      color: $colorPrimary300
      font-size: .875rem
      line-height: 1.25rem
    .data__text
      color: $colorPrimary700
      font-size: 1rem
      line-height: 1.5rem
      font-weight: 700
// Темная тема
.dark
  // Сравнение
  .layout__comparison
    .comparison__formular
      border-bottom: 1px solid $colorWhite
    .comparison__navigation
      .slick-arrow
        border: 1px solid $colorWhite
        path
          fill: $colorWhite
    .products__item
      &.products__item_secondary
        &:not(:hover)
          .products__media
            .products__link
              &::before
                background-color: $colorWhite200
    .products__header
      .products__title
        color: $colorWhite
        &::after
          background-color: $colorWhite700

    .products__main
      .products__favorite
        .favorite__ico
          stroke: $colorWhite700
    .products__data
      .data__item
        &.data__item_secondary
          .data__title,
          .data__text
            color: $colorWhite700
        &:not(:last-child)
          &::after
            background-color: $colorWhite700
      .data__title
        color: $colorWhite700
      .data__text
        color: $colorWhite
.collections__modals
  display: none

        