// Статья
.layout__contacts
  .contacts__list
    width: 100%
    flex-shrink: 0
    gap: 1.25rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
    @include mediaMinWidthTabletPort
      width: 34.5rem
      flex-direction: column
    .contacts__item
      border-radius: .5rem
      &.contacts__item_primary,
      &.contacts__item_secondary
        color: $colorSecondary300
        padding: 2rem
        border-radius: .5rem
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        @include mediaMinWidthMobile
          width: calc(50% - .65rem)
        @include mediaMinWidthTabletPort
          width: 100%
          padding: 2.5rem
      &.contacts__item_primary
        border: 1px solid $colorPrimary300
      &.contacts__item_secondary
        background-color: $colorSecondary100
    .contacts__header
      width: 100%
      display: flex
      justify-content: flex-start
      &:not(:last-child)
        margin-bottom: 1rem
        @include mediaMinWidthTabletPort
          margin-bottom: 2.5rem
      .contacts__title
        color: $colorSecondary300
        font-size: 1.5rem
        line-height: 2rem
        font-weight: 700
        position: relative
        @include mediaMinWidthTabletPort
          font-size: 2rem
          line-height: 200%
        
        &::after
          @include mediaMinWidthTabletPort
            content: ""
            position: absolute
            bottom: 1rem
            left: 0
            width: 100%
            height: .125rem
            background-color: $colorSecondary300
    .contacts__main
      gap: 1.5rem
      display: flex
      flex-direction: column
      @include mediaMinWidthTabletPort
        width: calc(100% - 6.25rem)
        gap: 2rem
      &:not(:last-child)
        margin-bottom: 1.5rem
        @include mediaMinWidthTabletPort
          margin-bottom: 0
    .contacts__group
      gap: .875rem
      display: flex
      flex-direction: column
    .contact__title
      font-size: 1.25rem
      line-height: 2rem
      font-weight: 700
    .contact__list
      gap: .75rem
      display: flex
      flex-direction: column
    .contact__link
      color: $colorSecondary300
      position: relative
      &:hover
        &::after
          width: 0
      &::after
        content: ""
        position: absolute
        bottom: .125rem
        left: 0
        width: 100%
        height: 1px
        background-color: $colorSecondary300
        @include transition
    .contacts__footer
      width: 100%
      display: flex
      flex-direction: column
      justify-content: flex-end
      @include mediaMinWidthTabletPort
        width: 6.25rem
    .contact__socials
      .socials__list
        gap: 1.25rem
        display: flex
        flex-wrap: wrap
      .socials__item
      .socials__link
        width: 2.5rem
        height: 2.5rem
        display: flex
        align-items: flex-start


// Темная тема
.dark
  // Статья
  .layout__contacts
    .contacts__list
      .contacts__item
        &.contacts__item_primary,
        &.contacts__item_secondary
          color: $colorWhite700
        &.contacts__item_primary
          color: $colorWhite

          border: 1px solid $colorWhite700
        &.contacts__item_secondary
          background-color: $colorWhite200
      .contacts__header
        .contacts__title
          color: $colorWhite700
          &::after
            background-color: $colorWhite700
      .contact__link
        color: $colorWhite700
        &::after
          background-color: $colorWhite700









