// Данные

.layout__database
  .database__list
    margin: 0 -.75rem
    width: calc(100% + 1.5rem)
    gap: 2rem 0
    display: flex
    flex-wrap: wrap
    @include mediaMinWidthMobile
    @include mediaMinWidthTabletPort
      margin: 0 -2.875rem
      width: calc(100% + 5.75rem)
  .database__item
    font-size: 1.25rem
    line-height: 2rem
    padding: 0 .75rem
    gap: .875rem
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    @include mediaMinWidthMobile
      width: 50%
    @include mediaMinWidthTabletPort
      padding: 0 2.875rem
      width: auto
  .database__title
    color: $colorSecondary400
    font-weight: 700
  .database__text
    color: $colorPrimary600
  .database__link
    color: $colorPrimary600
    position: relative
    &:hover
      &::after
        width: 0
    &::after
      content: ""
      position: absolute
      bottom: .25rem
      left: 0
      height: 1px
      width: 100%
      background-color: $colorPrimary600
      @include transition
// Темная тема
.dark
  .layout__database
    .database__title
      color: $colorWhite
    .database__text
      color: $colorWhite700
    .database__link
      color: $colorWhite700
      &::after
        background-color: $colorWhite700
