// Доставка
.layout__delivery
  .delivery__list
    gap: .5rem
    display: flex
    flex-wrap: wrap
    @include mediaMinWidthMobile
      gap: 1.5rem
    &.delivery__list_secondary
      @include mediaMinWidthTabletPort
        flex-direction: column
        .delivery__item
          width: calc(100% - .75rem)
          align-items: flex-start
          text-align: left
  .delivery__item
    padding: 1.5rem .75rem
    border: 1px solid $colorPrimary300
    width: 100%
    border-radius: .5rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    text-align: center
    @include mediaMinWidthMobile
      gap: .875rem
      padding: 2rem 2.5rem
      width: calc(100% - .75rem)
    @include mediaMinWidthTabletPort
      width: calc(50% - .75rem)
  .delivery__title,
  .delivery__title
    font-size: 1rem
    line-height: 1.5rem
    @include mediaMinWidthTabletPort
      font-size: 1.25rem
      line-height: 2rem
  .delivery__title
    color: $colorWhite
    font-weight: 700
  .delivery__text
    color: $colorWhite200

  
// Темная тема
.dark
  .layout__delivery
    .delivery__item
      border: 1px solid $colorWhite200
    .delivery__title
      color: $colorWhite700
    .delivery__text
      color: $colorWhite