// Вопрос-Ответ
.layout__faq
  display: flex
  flex-direction: column
  @include mediaMinWidthMobile
    gap: 1.25rem
    flex-direction: row
  @include mediaMinWidthTabletPort
    gap: 2rem
  .faq__group
    width: 100%
  .faq__list
    display: flex
    flex-direction: column
  .faq__item
    padding: .75rem 0
    gap: 1rem
    border-bottom: 1px solid $colorPrimary500
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      padding: 1.25rem 0
      border: 0
    &:not(:last-child)
      border-bottom: 1px solid $colorPrimary500
    &.faq__item_active
      .faq__ico
        transform: rotate(45deg)
  .faq__header
    padding-right: 1rem
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer
  .faq__title
    color: $colorSecondary400
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 700
    max-width: calc(100% - 2.5rem)
    @include mediaMinWidthTabletPort
      font-size: 1.25rem
      line-height: 2rem
  .faq__ico
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
    transform: rotate(0deg)
    stroke: $colorPrimary800
    @include transition
  .faq__main
    font-size: .875rem
    line-height: 1.25rem
    display: none
    @include mediaMinWidthMobile
      max-width: calc(100% - 4.5rem)
    @include mediaMinWidthTabletPort
      max-width: calc(100% - 11.25rem)

// Темная тема
.dark
  .layout__faq
    .faq__item
      border-bottom: 1px solid $colorWhite700
      &:not(:last-child)
        border-bottom: 1px solid $colorWhite700
    .faq__title
      color: $colorWhite
    .faq__ico
      stroke: $colorWhite