// Категории
.layout__listing
  .listing__list
    margin: 0 -.75rem
    width: calc(100% + 1.5rem)
    display: flex
    gap: 1.5rem 0
    flex-wrap: wrap
    @include mediaMinWidthTabletPort
      margin: 0 -1.25rem
      gap: 2.5rem 0
      width: calc(100% + 2.5rem)
    &.listing__list_secondary
      .listing__item
          width: 50%
          @include mediaMinWidthMobile
            width: 33.3%
          @include mediaMinWidthTabletPort
            width: 25%
      .listing__img
        height: 2.5rem
        @include mediaMinWidthMobile
          height: 3rem
        @include mediaMinWidthTabletPort
          height: 4.5rem
  .listing__item
    padding: 0 .75rem
    width: 100%
    @include mediaMinWidthMobile
      width: 50%
    @include mediaMinWidthTabletPort
      padding: 0 1.25rem
      width: 33.3%
  .listing__link
    color: $colorSecondary400
    background-color: $colorPrimary200
    border-radius: .5rem
    gap: 1.125rem
    padding: .75rem
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    @include transition
    @include mediaMinWidthMobile
      padding: 1.5rem
    @include mediaMinWidthTabletPort
      padding: 2rem 1.5rem
    &:hover
      background-color: $colorSecondary100
    &:active
      background-color: $colorSecondary100
    &.disabled
      pointer-events: none
      background-color: $colorWhite
      &::before
        content: ""
        position: absolute
        border-radius: .5rem
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $colorPrimary200
        opacity: .8
        z-index: 2
  .listing__img
    width: auto
    height: 2.5rem
    @include mediaMinWidthMobile
      height: 3.5rem
    @include mediaMinWidthTabletPort
      height: 6rem
    img
      width: 100%
      height: 100%
      object-fit: contain
  .listing__text
    font-size: 1.25rem
    line-height: 2rem
    font-weight: 700
    width: 100%
    text-align: center
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
// Темная тема
.dark
  // Категории
  .layout__listing
    .listing__link
      color: $colorWhite
      background-color: $colorPrimary900
      &:hover,
      &.disabled
        background-color: $colorPrimary1000
        &::before
          display: none
      &:active
        background-color: $colorPrimary1000