// Карта
.layout__map
  width: auto
  margin: 0 -1.5rem -1.5rem
  height: 100%
  height: 25rem
  display: flex
  align-items: flex-start
  @include mediaMinWidthTabletPort
    margin: 0
    width: 100%
    height: 100%
  iframe
    width: 100%
    height: 100%

