// Цены
.layout__prices
  .prices__table
    border-radius: .5rem
    padding: 1rem 1.25rem
    background-color: $colorPrimary200
    display: flex
    @include mediaMinWidthTabletPort
      padding: 1.25rem 2rem
  .prices__thead
    display: none
    @include mediaMinWidthTabletPort
      display: block
    .prices__td
      padding-left: 0
  .prices__tbody
    width: 100%
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      flex-direction: row
      justify-content: space-around
    .prices__td
      @include mediaMinWidthTabletPort
        justify-content: center
        border-left: 1px solid $colorPrimary400

  .prices__tr
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @include mediaMinWidthTabletPort
      flex-direction: column
      align-items: unset
      justify-content: unset
    &:not(:last-child)
      border-bottom: 1px solid $colorPrimary400
      @include mediaMinWidthTabletPort
        border-bottom: 0
      
  .prices__td
    padding: .75rem .5rem
    gap: .75rem
    height: 3rem
    display: flex
    align-items: center
    @include mediaMinWidthTabletPort
      padding: 1rem 
    &:not(:last-child)
      @include mediaMinWidthTabletPort
        border-bottom: 1px solid $colorPrimary400
  .prices__title
    color: $colorSecondary400
    font-size: .875rem
    line-height: 1rem
    font-weight: 700
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1.5rem
  .prices__subtitle
    color: $colorSecondary300
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 700
    @include mediaMinWidthTabletPort
      font-size: 1.25rem
      line-height: 2rem
  .prices__text
      white-space: wrap
      @include mediaMinWidthTabletPort
        white-space: nowrap
      &.prices__text_primary
        color: $colorPrimary300
        font-size: .75rem
        line-height: 1.25rem
        text-decoration: line-through
      &.prices__text_secondary
        color: $colorPrimary800
        font-size: 1rem
        line-height: 1.5rem
        font-weight: 700
      &.prices__text_tertiary
        color: $colorWhite
        background-color: $colorGreen
        font-size: .75rem
        line-height: .75rem
        border-radius: .25rem
        font-weight: 700
        padding: .35rem .625rem
        @include mediaMinWidthTabletPort
          padding: .25rem .75rem

// Темная тема
.dark
  .layout__prices
    .prices__table
      background-color: $colorPrimary900
    .prices__tbody
      .prices__td
        @include mediaMinWidthTabletPort
          border-left: 1px solid $colorWhite700
    .prices__tr
      &:not(:last-child)
        border-bottom: 1px solid $colorWhite700
        @include mediaMinWidthTabletPort
          border-bottom: 0
    .prices__td
      &:not(:last-child)
        @include mediaMinWidthTabletPort
          border-bottom: 1px solid $colorWhite700
    .prices__title
      color: $colorWhite
    .prices__subtitle
      color: $colorWhite
    .prices__text
      &.prices__text_primary
        color: $colorWhite700
      &.prices__text_secondary
        color: $colorWhite

