// Продукт
.layout__products
  
  .products__list
    margin: 0 -.75rem
    width: calc(100% + 1.5rem)
    display: flex
    gap: 2rem 0
    flex-wrap: wrap
    @include mediaMinWidthTabletPort
      margin: 0 -1.25rem
      width: calc(100% + 2.5rem)
    &.products__list_secondary
      @include mediaMinWidthTabletPort
        gap: 2.5rem 0
        margin: 0 -1rem
        width: calc(100% + 2rem)
        .products__item
          padding: 0 1rem
  .products__item
    padding: 0 .75rem
    gap: .75rem
    display: flex
    flex-direction: column
    width: 100%
    @include mediaMinWidthMobile
      width: 50%
    @include mediaMinWidthTabletPort
      gap: .875rem
      width: 33.3%
      padding: 0 1.25rem
  .products__header
    
    height: 13.75rem
    border-radius: .75rem
    overflow: hidden
  .products__link
    color: $colorWhite
    padding: 1rem
    height: 100%
    gap: .25rem
    display: flex
    flex-direction: column
    position: relative
    &:hover
      @include mediaMinWidthTabletPort
        .products__img
          &::before
            background-color: rgba(0,0,0,.6)
            transition-delay: 0s
        .products__data
          opacity: 1
          visibility: visible
          transition-delay: .4s
  .products__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    align-items: flex-start
    z-index: -1
    overflow: hidden
    
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 150%
      max-height: 150%
      z-index: 2
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%)
      transform: translateY(0)
      @include transition
      transition-delay: .4s
      @include mediaMinWidthTabletPort
        background-color: rgba(0,0,0,.3)
    img
      width: 100%
      height: 100%
  .products__head
    gap: .5rem
    display: flex
    align-items: center
    justify-content: space-between
  .products__title
    overflow: hidden

  .products__tags
    margin-left: auto
    
    .tags__list
      gap: .25rem
      display: flex
    .tags__item
      color: $colorWhite
      padding: .25rem .5rem
      border-radius: .25rem
      &.tags__item_primary
        background-color: $colorGreen
      &.tags__item_secondary
        background-color: $colorSecondary200
      &.tags__item_tertiary
        background-color: $colorSecondary400
    .tags__text
      font-size: .875rem
      line-height: 1.25rem
  .products__prices
    gap: .25rem
    width: 100%
    display: flex
    flex-direction: column
    .prices__item
      &.prices__item_primary
        font-size: 1rem
        line-height: 1.5rem
      &.prices__item_secondary 
        color: $colorPrimary300
        font-size: .75rem
        line-height: 1.25rem
        text-decoration: line-through
  .products__data
    margin-top: auto
    opacity: 1
    visibility: visible
    @include transition
    transition-delay: 0s
    @include mediaMinWidthTabletPort
      opacity: 0
      visibility: hidden
    .data__list
      gap: .75rem
      display: flex
      flex-wrap: wrap
    .data__item
      gap: .5rem
      padding: .5rem
      border-radius: .25rem
      background-color: rgba(255,255,255,.4)
      display: flex
      align-items: center
    .data__ico
      width: 1rem
      height: 1rem
      flex-shrink: 0
    .data__text
      font-size: .875rem
      line-height: 1.25rem
  .products__main
    display: flex
    align-items: center
    justify-content: space-between
  .products__favorite
    &:hover
      .favorite__ico
        fill: $colorSecondary300
        stroke: transparent
    .favorite__link
      width: 2.75rem
      height: 2.75rem
      display: flex
      align-items: center
      justify-content: center
    .favorite__ico
      width: 1.25rem
      height: 1rem
      fill: transparent
      stroke: $colorSecondary300
      @include transition

// Темная тема
.dark



  // Продукт
  .layout__products
    .products__favorite
      &:hover
        .favorite__ico
          fill: $colorWhite
      .favorite__ico
        stroke: $colorWhite