// Продукт
.layout__product
  padding-bottom: 2rem
  border-bottom: 1px solid $colorPrimary500
  gap: 1rem
  display: flex
  flex-direction: row
  align-items: flex-start
  flex-wrap: wrap
  @include mediaMinWidthMobile
    align-items: center
    gap: 1.25rem
  .product__header
    order: -4
    @include mediaMinWidthMobile
      order: unset
    @include mediaMinWidthTabletPort
      width: 50%
  .product__prices
    width: calc(100% - 4rem)
    @include mediaMinWidthMobile
      width: 15rem
      margin-left: auto
    @include mediaMinWidthTabletPort
      width: auto
    .prices__list
      gap: .125rem .75rem
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      @include mediaMinWidthMobile
        justify-content: flex-start
    .prices__item
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      &.prices__item_primary
        color: $colorPrimary600
        font-size: 1rem
        line-height: 1.5rem
        width: 100%
        text-decoration: line-through
        order: 3
        @include mediaMinWidthMobile
          text-align: center
        @include mediaMinWidthTabletPort
          width: auto
          order: unset
          text-align: left
      &.prices__item_secondary
        color: $colorSecondary400
        font-size: 1.5rem
        line-height: 2rem
        font-weight: 700
        @include mediaMinWidthMobile
          font-size: 2rem
          line-height: 2.75rem
      &.prices__item_tertiary
        color: #27AE60
        background-color: rgba(39,174,96,.2)
        font-size: 1rem
        line-height: 1.5rem
        border-radius: .5rem
        font-weight: 700
        padding: .75rem 1rem
  .product__data
    order: -3
    width: 100%
    @include mediaMinWidthMobile
      order: unset
    @include mediaMinWidthTabletPort
      width: auto
    .data__list
      gap: .25rem
      justify-content: space-around
      display: flex
      flex-wrap: wrap
      @include mediaMinWidthMobile
        gap: .75rem
        justify-content: flex-start
    .data__item
      gap: .25rem
      padding: .5rem
      border-radius: .25rem
      border: 1px solid rgba(37,42,121,.2)
      display: flex
      align-items: center
      @include mediaMinWidthTabletPort
        padding: .5rem .75rem
        gap: .75rem
    .data__ico
      width: 1rem
      height: 1rem
      fill: $colorSecondary300
      flex-shrink: 0
    .data__text
      color: $colorSecondary300
      font-size: .75rem
      line-height: 1.25rem
      font-weight: 700
      @include mediaMinWidthTabletPort
        font-size: .875rem
  .product__favorite
    @include mediaMinWidthTabletPort
      margin-left: auto
  .product__actions
    width: 100%
    position: relative
    @include mediaMinWidthMobile
      width: auto

// Темная тема
.dark
  // Продукт
  .layout__product
    border-bottom: 1px solid $colorWhite700
    .product__prices
      .prices__item
        &.prices__item_primary
          color: $colorWhite700
        &.prices__item_secondary
          color: $colorWhite









