// Условия
.layout__requirements
  display: flex
  flex-direction: column
  @include mediaMinWidthTabletPort
    gap: 2rem
    flex-direction: row
  .requirements__group
    color: $colorWhite
    width: auto
    gap: 2rem
    padding: 2rem 1.5rem
    margin: 0 -1.5rem
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    @include mediaMinWidthTabletPort
      gap: 2.5rem
      width: 100%
      padding: 2rem 2.5rem
      border-radius: .5rem
      margin: 0
      align-items: flex-start
      text-align: left
    &.requirements__group_primary
      background-color: $colorSecondary200
      .requirements__main
        width: 100%
      .requirements__list
        gap: .875rem
        display: flex
        flex-direction: column
        @include mediaMinWidthMobile
          gap: 1.25rem
          flex-direction: row
      .requirements__item
        padding: .75rem
        border-radius: .5rem
        background-color: $colorSecondary500
        gap: .75rem
        width: 100%
        display: flex
        flex-direction: column
        @include mediaMinWidthMobile
          padding: 1rem 1.25rem
          gap: 1.5rem
          width: 12rem
        @include mediaMinWidthTabletPort
          width: 13.75rem
      .requirement__title
        font-size: .875rem
        line-height: 1.25rem
      .requirement__text
        font-size: 2rem
        line-height: 2rem
        font-weight: 700
    &.requirements__group_secondary
      background-color: $colorSecondary300
      .requirements__list
        gap: .75rem
        display: flex
        flex-direction: column
        align-items: center
        @include mediaMinWidthTabletPort
          align-items: flex-start
      .requirements__item
        gap: .75rem
        display: flex
        align-items: center
      .requirement__ico
        width: 1.5rem
        height: 1.5rem
        flex-shrink: 0
      .requirement__text
        font-size: 1.25rem
        line-height: 2rem
        font-weight: 700