// Аренда
.layout__reservation
  gap: 2rem
  display: flex
  flex-direction: column
.reservation__banner
  height: 23.75rem
  position: relative
  .banner__main
    color: $colorWhite
    padding: 2rem
    position: relative
    z-index: 2
  .banner__title,
  .banner__text
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
  .banner__media
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: .5rem
    overflow: hidden
    display: flex
    align-items: flex-start
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%)
    img
      width: 100%
      height: 100%
.reservation__formular
  .layout__formular
    width: 100%
  .layout__form
    gap: 1.5rem 
    display: flex
    flex-direction: row
    align-items: flex-start
    flex-wrap: wrap
    @include mediaMinWidthMobile
      gap: 1.25rem 2rem
    @include mediaMinWidthTabletPort
      gap: 1.5rem 5rem
  .form__item
    width: 100%
    &.form__item_secondary
      @include mediaMinWidthMobile
        width: calc(50% - .75rem)
  .form__group
    @include mediaMinWidthMobile
      width: calc(50% - 2.5rem)
    &.form__group_primary
      order: -2
    &.form__group_tertiary
      order: -1
      @include mediaMinWidthMobile
        order: unset
        
    &.form__group_tertiary,
    &.form__group_quarty
      width: 100%
    &.form__group_tertiary
      gap: 2.5rem
      flex-direction: row
      display: none
      .form__item
        @include mediaMinWidthMobile
          width: calc(50% - 0.875rem)
        @include mediaMinWidthTabletPort
          width: calc(33.5% - 7.875rem)
  .form__list
    gap: 1.25rem
    display: flex
    align-items: flex-start
    flex-direction: row
    flex-wrap: wrap
    @include mediaMinWidthMobile
      gap: 1.5rem
    







