// Выборка
.layout__selection
  .selection__list
    display: flex
    flex-direction: column
  .selection__item
    &:not(:last-child)
      border-bottom: 1px solid $colorPrimary400
  .selection__label
    padding: .75rem 0
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer
    position: relative
  .selection__input
    position: absolute
    left: -99999px
    &:checked
      & ~ .selection__ico
        &.selection__ico_before
          display: none
        &.selection__ico_after
          display: block
    &[type="radio"]
      & ~ .selection__ico


    &[type="checkbox"]
  .selection__text
    color: $colorPrimary700
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 400
  .selection__ico
    width: 1rem
    height: 1rem
    &.selection__ico_before
      display: block
    &.selection__ico_after
      display: none

// Темная тема
.dark
  .layout__selection
    .selection__item
      &:not(:last-child)
        border-bottom: 1px solid $colorWhite200
    .selection__text
      color: $colorWhite700
