// Сервисы
.layout__services
  .services__list
    margin: 0 -.75rem
    width: calc(100% + 1.5rem)
    display: flex
    gap: 1.5rem 0
    flex-wrap: wrap
    @include mediaMinWidthTabletPort
      margin: 0 -1rem
      width: calc(100% + 2rem)
      gap: 2rem 0
  .services__item
    padding: 0 .75rem
    gap: .75rem
    width: 100%
    display: flex
    flex-direction: column
    @include mediaMinWidthMobile
      gap: .875rem
      width: 50%
      padding: 0 .75rem
    @include mediaMinWidthTabletPort
      padding: 0 1rem
    &:hover
      .services__link
        background-color: $colorSecondary100
        border-color: $colorSecondary100
  .services__link
    padding: 1.5rem 2rem
    border-radius: .5rem
    border: 1px solid $colorPrimary300
    background-color: transparent
    @include transition
  .services__media
    border: 1px solid rgba(34,59,143,.3)
    width: 3.75rem
    height: 3.75rem
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    &:not(:last-child)
      margin-bottom: 1.5rem
      @include mediaMinWidthTabletPort
        margin-bottom: 3rem
  .services__header
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    overflow: hidden
    &:not(:last-child)
      margin-bottom: 1rem
  .services__title
    color: $colorSecondary300
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
  .services__main
    font-size: 1rem
    line-height: 1.5rem
    max-width: 28.5rem
    display: -webkit-box
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    overflow: hidden
    @include mediaMinWidthTabletPort
      -webkit-line-clamp: 3
    &:not(:last-child)
      margin-bottom: 1.25rem
  .services__ico
    width: 2rem
    height: 2rem
// Темная тема
.dark
  // Сервисы
  .layout__services
    .services__item
      &:hover
        .services__link
          border-color: $colorPrimary1000
          background-color: $colorPrimary900
    .services__link
      border: 1px solid $colorWhite200
    .services__media
      border: 1px solid $colorWhite200
    .services__title
      color: $colorWhite
    .services__main
      color: $colorWhite700
      