// Слайдер
.layout__slider
  .slider__item
    min-height: 100vh
    display: flex
    align-items: flex-end
    position: relative
    // @include mediaMinWidthMobile
    //   min-height: 27rem
    // @include mediaMinWidthTabletPort
    //   min-height: 42.75rem
    &.slick-current
      .slider__layout
        opacity: 1
        visibility: visible
        transform: translateY(0)
        transition-delay: 1s
  .slider__media
    top: 0
    left: 0
    height: 100%
    width: 100%
    position: absolute
    display: flex
    align-items: flex-start
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,.75)
      z-index: 2
    picture,
    img
      width: 100%
      height: 100%
  .slider__layout
    color: $colorWhite
    width: 49.75rem
    max-width: 100%
    padding: 8rem 0 2.5rem
    z-index: 2
    opacity: 0
    position: relative
    visibility: hidden
    display: flex
    flex-direction: column
    gap: 1rem
    transform: translateY(1rem)
    @include transition
    @include mediaMinWidthTabletPort
      padding: 8rem 0 3.75rem
      gap: 2rem
  .slider__title
    text-transform: uppercase
  .slider__main
    color: $colorPrimary300
    font-size: 1rem
    line-height: 1.5rem
  .slider__footer
    gap: .875rem
    display: flex



