// Спецификация
.layout__specifications
  padding: 1.5rem
  margin: 0 -1.5rem
  max-width: 67.25rem
  background-color: $colorPrimary200
  @include mediaMinWidthMobile
    margin: 0
    padding: 2rem
    border-radius: .5rem
  .specifications__groups
    gap: 1rem
    display: flex
    flex-direction: column
    align-items: flex-start
    @include mediaMinWidthTabletPort
      margin: 0 -4.625rem
      gap: 0
      width: calc(100% + 9.25rem)
      flex-direction: row
  .specifications__group
    width: 100%
    @include mediaMinWidthTabletPort
      width: 50%
      padding: 0 4.625rem
  .specifications__list
    gap: .75rem
    display: flex
    flex-direction: column

  .specifications__item
    gap: 1rem
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    &::after
      content: ""
      position: absolute
      left: 0
      bottom: .25rem
      border-top: dotted rgba(77,77,77,.3)
      width: 100%
  .specifications__title,
  .specifications__text
    padding: 0 .25rem
    background-color: $colorPrimary200
    position: relative
    z-index: 2
  .specifications__title
    color: $colorPrimary700
    font-size: 0.875rem
    line-height: 1.25rem
  .specifications__text
    color: $colorSecondary300
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 700

// Темная тема
.dark
  .layout__specifications
    background-color: $colorPrimary900
    .specifications__item
      &::after
        border-top: dotted $colorWhite700
    .specifications__title,
    .specifications__text
      background-color: $colorPrimary900
    .specifications__title
      color: $colorWhite
