// Отзывы
.layout__testimonials
    .testimonials__list
        &:not(.layout__scroll)
            margin: 0 -.75rem
            width: calc(100% + 1.5rem)
            display: flex
            gap: 2rem 0
            flex-wrap: wrap
            @include mediaMinWidthTabletPort
            margin: 0 -1.25rem
            width: calc(100% + 2.5rem)
            .testimonials__item
                width: 100%
                padding: 0 .75rem
                gap: .75rem
                @include mediaMinWidthMobile
                    width: 50%
                @include mediaMinWidthTabletPort
                    width: 33.3%
                    gap: .875rem
                    padding: 0 1.25rem
    .testimonials__layout
        gap: 1.5rem
        border-radius: .5rem
        padding: 1.25rem
        border: 1px solid rgba(0,0,0,.2)
        display: flex
        flex-direction: column
        @include mediaMinWidthTabletPort
            gap: 2rem
    .testimonials__header
      display: flex
      align-items: center
      justify-content: space-between
    .testimonials__date
        color: $colorPrimary600
        font-size: .875rem
        line-height: 1.25rem
        font-weight: 700
    .testimonials__rating
        .rating__list
            gap: .5rem
            display: flex
        .rating__item
            width: 1.5rem
            height: 1.5rem
            display: flex
            align-items: flex-start
        .rating__ico
            width: 100%
            height: 100%
    .testimonials__main
        margin-top: auto
        gap: .75rem
        display: flex
        flex-direction: column
    .testimonials__title
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    .testimonials__text
        color: $colorPrimary700
        font-size: 1rem
        line-height: 1.25rem
        display: -webkit-box
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
        overflow: hidden
// Темная тема
.dark
    .layout__testimonials
        .testimonials__layout
            border-color: $colorWhite100
            background-color: $colorPrimary900
        .testimonials__text
            color: $colorWhite500